In [1]:
lang = {
            'aa' : 'afar',
            'ab' : 'abjasio',  # (o abjasiano)
            'ae' : 'avéstico',
            'af' : 'afrikáans',
            'ak' : 'akano',
            'am' : 'amhárico',
            'an' : 'aragonés',
            'ar' : 'العربية',
            'as' : 'asamés',
            'av' : 'avar',  # (o ávaro)
            'ay' : 'aimara',
            'az' : 'azerí',
            'ba' : 'baskir',
            'be' : 'беларуская мова',
            'bg' : 'български език',
            'bh' : 'bhoyapurí',
            'bi' : 'bislama',
            'bm' : 'bamanankan',
            'bn' : 'বাংলা',
            'bo' : 'tibetano',
            'br' : 'bretón',
            'bs' : 'bosanski',
            'ca' : 'català',
            'ce' : 'checheno',
            'ch' : 'chamorro',
            'co' : 'corso',
            'cr' : 'cree',
            'cs' : 'český',
            'cu' : 'eslavo',  # eclesiástico antiguo
            'cv' : 'chuvasio',
            'cy' : 'cymraeg',
            'da' : 'dansk',
            'de' : 'deutsch',
            'dv' : 'maldivo',  # (o dhivehi)
            'dz' : 'dzongkha',
            'ee' : 'ewé',
            'el' : 'ελληνικά',  # (moderno)
            'en' : 'english',
            'eo' : 'esperanto',
            'es' : 'español',  # (o castellano)
            'et' : 'eesti',
            'eu' : 'euskera',
            'fa' : 'فارسی',
            'ff' : 'fula',
            'fi' : 'suomi',  # (o finlandés)
            'fj' : 'fiyiano',  # (o fiyi)
            'fo' : 'feroés',
            'fr' : 'français',
            'fy' : 'frisón',  # (o frisio)
            'ga' : 'gaeilge',  # (o gaélico)
            'gd' : 'gaélico',  # escocés
            'gl' : 'galego',
            'gn' : 'guaraní',
            'gu' : 'guyaratí',  # (o gujaratí)
            'gv' : 'manés',  # (gaélico manés o de Isla de Man)
            'ha' : 'hausa',
            'he' : 'עִבְרִית',
            'hi' : 'हिन्दी',  # (o hindú)
            'ho' : 'hiri',  # motu
            'hr' : 'hrvatski',
            'ht' : 'haitiano',
            'hu' : 'magyar',
            'hy' : 'armenio',
            'hz' : 'herero',
            'ia' : 'interlingua',
            'id' : 'bahasa indonesia',
            'ie' : 'occidental',
            'ig' : 'igbo',
            'ii' : 'yi de Sichuán',
            'ik' : 'iñupiaq',
            'io' : 'ido',
            'is' : 'íslenska',
            'it' : 'italiano',
            'iu' : 'inuktitut',  # (o inuit)
            'ja' : '日本語',
            'jv' : 'javanés',
            'ka' : 'ქართული',
            'kg' : 'kongo',  # (o kikongo)
            'ki' : 'kikuyu',
            'kj' : 'kuanyama',
            'kk' : 'қазақ',  # (o kazajio)
            'kl' : 'groenlandés',  # (o kalaallisut)
            'km' : 'camboyano',  # o jemer)
            'kn' : 'Kannada',
            'ko' : '한국어/조선말',
            'kr' : 'kanuri',
            'ks' : 'cachemiro',  # (o cachemir)
            'ku' : 'kurdo',
            'kv' : 'komi',
            'kw' : 'córnico',
            'ky' : 'kirghiz',
            'la' : 'latín',
            'lb' : 'luxemburgués',
            'lg' : 'luganda',
            'li' : 'limburgués',
            'ln' : 'lingala',
            'lo' : 'lao',
            'lt' : 'lietuvi\x9akai',
            'lu' : 'luba-katanga',  # (o chiluba)
            'lv' : 'latviešu',
            'mg' : 'malgache',  # (o malagasy)
            'mh' : 'marshalés',
            'mi' : 'maorí',
            'mk' : 'macedonio',
            'ml' : 'malayalam',
            'mn' : 'mongol',
            'mr' : 'maratí',
            'ms' : 'bahasa melayu',
            'mt' : 'malti',
            'my' : 'birmano',
            'na' : 'nauruano',
            'nb' : 'bokmål',  # bokmål
            'nd' : 'ndebele del norte',
            'ne' : 'nepalí',
            'ng' : 'ndonga',
            'nl' : 'nederlands',  # (u holandés)
            'nn' : 'nynorsk',
            'no' : 'norsk',
            'nr' : 'ndebele del sur',
            'nv' : 'navajo',
            'ny' : 'chichewa',
            'oc' : 'occitano',
            'oj' : 'ojibwa',
            'om' : 'oromo',
            'or' : 'oriya',
            'os' : 'osético',  # (u osetio, u oseta)
            'pa' : 'ਪੰਜਾਬੀ', # (o penyabi)
            'pi' : 'pali',
            'pl' : 'polski',
            'ps' : 'پښتو',  # (o pastún, o pashto)
            'pt' : 'português',
            'qc' : 'quechua',
            'rm' : 'romanche',
            'rn' : 'kirundi',
            'ro' : 'română',
            'ru' : 'pусский',
            'rw' : 'kinyarwanda',  # (o kiñaruanda)
            'sa' : 'sánscrito',
            'sc' : 'sardo',
            'sd' : 'sindhi',
            'se' : 'sami septentrional',
            'sg' : 'sango',
            'si' : 'cingalés',
            'sk' : 'slovenčina',
            'sl' : 'slovenščina',
            'sm' : 'samoano',
            'sn' : 'shona',
            'so' : 'somalí',
            'sq' : 'shqip',
            'sr' : 'srpski',
            'ss' : 'suazi',  # (o swati, o siSwati)
            'st' : 'sesotho',
            'su' : 'sundanés',  # (o sondanés)
            'sv' : 'svenska',
            'sw' : 'kiswahili',
            'ta' : 'தமிழ்',
            'te' : 'తెలుగు',
            'tg' : 'tayiko',
            'th' : 'ภาษาไทย',
            'ti' : 'tigriña',
            'tk' : 'turcomano',
            'tl' : 'tagalo',
            'tn' : 'setsuana',
            'to' : 'tongano',
            'tr' : 'türkçe',
            'ts' : 'tsonga',
            'tt' : 'tártaro',
            'tw' : 'twi',
            'ty' : 'tahitiano',
            'ug' : 'uigur',
            'uk' : 'український',
            'ur' : 'اردو',
            'uz' : 'ozbek',
            've' : 'venda',
            'vi' : 'tiếng việt',
            'vo' : 'volapük',
            'wa' : 'valón',
            'wo' : 'wolof',
            'xh' : 'xhosa',
            'yi' : 'yídish',  # (o yidis, o yiddish)
            'yo' : 'yoruba',
            'za' : 'chuan',  # (o chuang, o zhuang)
            'zh' : '普通话',
            'zu' : 'isizulu',
            'cn' : '广州话 / 廣州話',
            'Sin Idioma': 'no language'
            }

# ETL (Extract, Transform, Load)

In [2]:
# Importar modulos necesarios
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Importar función 'literal_eval' desde módulo ast
from ast import literal_eval

## Funciones Personalizadas (custom functions)

In [3]:
# Función para verificar si existen valores no deseados en campos numéricos
def not_num(array, remp=0):
    cart = []
    for n in array:
        try:
            float(n)
        except:
            cart.append(n)
    return cart

def flatten_column(df, column, key = 'name'):
    
    # Convertir todos los valores faltantes en cadenas de listas vacías
    df[column] = df[column].fillna('[]')

    # Aplicar función literal_eval para convertir los objetos con datos tipo string en objectos tipo dict
    df[column] = df[column].apply(literal_eval)
    
    for e in list(df[column]):
        if len(e) > 0:
            tipo = type(e)
            break
    if tipo == dict:
        # Convertir las listas de diccionarios en listas de string
        df[column] = df[column].apply(lambda x : x[key].lower() if isinstance(x, dict) else 'no collection')

    elif tipo == list:
        # Convertir las listas de diccionarios en listas de string
        df[column] = df[column].apply(lambda x: [i[key].lower() for i in x] if isinstance(x, list) else '')

    else:
        print('Tipo de dato no soportado')
            
# Extraer Nombre del Director si no existe retorna nan
def get_director(x):
    for crew_member in x:
        if crew_member['job'] == 'Director':
            return crew_member['name']
    return np.nan

def inc_iso639(x):
    if len(x)>2:
        for k, v in lang.items():
            if v == x.lower():
                return k
    else:
        for k, v in lang.items():

            if k == x.lower():
                return v

In [4]:
# Carga de datasets
movies = pd.read_csv('datasets/movies_dataset.csv')
credits = pd.read_csv('datasets/credits.csv')

/tmp/ipykernel_9704/3097283174.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('datasets/movies_dataset.csv')

## 1. Visualización Inicial

In [5]:
print("Forma de dataframe movies: ",movies.shape)
print("Forma de dataframe credits: ", credits.shape)

Forma de dataframe movies:  (45466, 24)
Forma de dataframe credits:  (45476, 3)

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [7]:
# Chequeando valores nulos por cada columna en porcentaje
movies.isnull().sum()*100/movies.shape[0]

adult                     0.000000
belongs_to_collection    90.115691
budget                    0.000000
genres                    0.000000
homepage                 82.883913
id                        0.000000
imdb_id                   0.037391
original_language         0.024194
original_title            0.000000
overview                  2.098271
popularity                0.010997
poster_path               0.848986
production_companies      0.006598
production_countries      0.006598
release_date              0.191352
revenue                   0.013197
runtime                   0.578454
spoken_languages          0.013197
status                    0.191352
tagline                  55.104914
title                     0.013197
video                     0.013197
vote_average              0.013197
vote_count                0.013197
dtype: float64

In [8]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [9]:
# Chequeando valores nulos por cada columna en porcentaje
credits.isnull().sum()*100/credits.shape[0]

cast    0.0
crew    0.0
id      0.0
dtype: float64

### Observaciones Vizualización Inicial:

* DataFrame: `movies`
    * Cantidad de Filas: 45466
    * Cantidad de Columnas: 24
    * Tipos de datos: float64(4), object(20)
    * Uso en memoria: 8.3+ MB
    * Detalles a tomar en cuenta
        * Columna `belongs_to_collection`presenta 40972 datos faltantes representa el 90.11%
        * Columna `homepage`presenta 37684 datos faltantes representa el 82.88%
        * Columna `tagline`presenta 25054 datos faltantes representa el 55.11%
        * Las columnas `belongs_to_collection`, `genres`, `spoken_languages` son columnas con datos anidados.
        * La columna `id` se presenta con tipo de dato object

* DataFrame: `credits`
    * Cantidad de Filas: 45476
    * Cantidad de Columnas: 3
    * Tipos de datos: int64(1), object(2)
    * Uso en memoria: 1.0+ MB
    * Detalles a tomar en cuenta
        * No existen datos faltantes
        * Las columnas `cast`, `crew` son columnas con datos anidados.

## 2. Limpieza de Datos

### 2.1 Eliminar filas duplicadas en df movies

In [10]:
print(f'Tamaño del set antes de eliminar las filas repetidas: {movies.shape}')
movies.drop_duplicates(inplace=True)
print(f'Tamaño del set después de eliminar las filas repetidas: {movies.shape}')

Tamaño del set antes de eliminar las filas repetidas: (45466, 24)
Tamaño del set después de eliminar las filas repetidas: (45453, 24)

### 2.2 Eliminar filas duplicadas en df credits

In [11]:
print(f'Tamaño del set antes de eliminar las filas repetidas: {credits.shape}')
credits.drop_duplicates(inplace=True)
print(f'Tamaño del set después de eliminar las filas repetidas: {credits.shape}')

Tamaño del set antes de eliminar las filas repetidas: (45476, 3)
Tamaño del set después de eliminar las filas repetidas: (45439, 3)

### 2.3 Verificar valores no numéricos en columna `id`de df movies

In [12]:
# Verificar valores no numéricos en columna "id"
not_num(movies.id.values)

['1997-08-20', '2012-09-29', '2014-01-01']

#### 2.3.1 Verificar registros con valores anómalos en la columna `id` y si sus datos pueden ser útiles o rescatables

In [13]:
movies[movies['id'] == '1997-08-20']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
movies[movies['id'] == '2012-09-29']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
movies[movies['id'] == '2014-01-01']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.3.2 Eliminar columnas con valores anómalos en la columna `id` ya que no pueden ser rescatables

In [16]:
# Eliminar filas con valores anómalos en la columna "id"
for val in not_num(movies.id.values):
    movies.drop(movies[(movies['id'] == val)].index, inplace=True)

not_num(movies.id.values)

[]

#### 2.3.3 Cambiar tipo de datos de columna `id`

In [17]:
# verificar y remplazar tipo de dato de columna "id"
id_dto = movies.dtypes['id']
print(f'El tipo original de datos de la columna "id": {id_dto}')

# Cambiar el tipo de datos de la columna 'id' de "object" a "int64"
movies['id'] = movies['id'].astype('int64')
id_dtn = movies.dtypes['id']
print(f'El nuevo tipo de datos de la columna "id": {id_dtn}')

El tipo original de datos de la columna "id": object
El nuevo tipo de datos de la columna "id": int64

### 2.4 Verificar valores no numéricos en columna `budget`de df movies

In [18]:
# Verificar valores no numéricos en columna "budget"
not_num(movies.budget.values)

[]

#### 2.4.1 Cambiar tipo de datos de columna `budget`

In [19]:
# verificar y remplazar tipo de dato de columna budget
budget_dto = movies.dtypes['budget']
print(f'El tipo original de datos de la columna "budget": {budget_dto}')

# Cambiar el tipo de datos de la columna 'budget' de "object" a "float64"
movies['budget'] = movies['budget'].astype('float64')
budget_dtn = movies.dtypes['budget']
print(f'El nuevo tipo de datos de la columna "budget": {budget_dtn}')

El tipo original de datos de la columna "budget": object
El nuevo tipo de datos de la columna "budget": float64

### 2.5 Eliminar columnas según requisitos del problema

#### 2.5.1 Eliminar columnas `video`, `imdb_id`, `adult`, `original_title`, `poster_path`, `homepage`

In [20]:
# Eliminar columnas por requisito del problema
movies.drop(['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], axis=1, inplace=True)

### 2.6 Verificar registros con `id` duplicados

#### 2.6.1 Verificar si existe registros con `id` duplicados y borrarlos df movies

In [21]:
# Verificar si existe registros con "id" duplicados
print(f"Existen {movies[movies.duplicated('id')].shape[0]} duplicados")

Existen 17 duplicados

#### 2.6.2 Eliminar registros con `id` duplicados de df movies

In [22]:
# Eliminar registros con "id" duplicado df movies
movies = movies.drop_duplicates(movies.columns[movies.columns.isin(['id'])],
                        keep='first')

#### 2.6.3 Verificar si existe registros con `id` duplicados y borrarlos df credits

In [23]:
# Verificar si existe registros con "id" duplicados
print(f"Existen {credits[credits.duplicated('id')].shape[0]} duplicados")

Existen 7 duplicados

#### 2.6.4 Verificar si existe registros con `id` duplicados y borrarlos df credits

In [24]:
# Eliminar registros con "id" duplicado df credits
credits = credits.drop_duplicates(credits.columns[credits.columns.isin(['id'])],
                        keep='first')

#### Verificar shape de los df "movies" y "credits", transformar  y unir

In [25]:
# ids_faltantes = [x for x in set(movies['id']) if x not in set(credits['id'])]
# ids_faltantes

# movies.drop(movies[(movies['id'] == 401840)].index, inplace=True)  # ids_faltantes[0]

### 2.7 Realizar Merge de dfs `movies` y `credits` con `how = "left"` y `on = "id"`

In [26]:
# Verificar forma de los dataframes
movies.shape, credits.shape

((45433, 18), (45432, 3))

In [27]:
df = pd.merge(movies, credits, how='left', on='id')

In [28]:
df.shape

(45433, 20)

### 2.8 Aplanar Columnas anidadas

#### 2.8.1 Aplanar columnas `belongs_to_collection`, `genres`, `production_companies`, `production_countries` y `spoken_languages`

In [29]:
columns_to_flatten = [(df, 'belongs_to_collection') , (df, 'genres'), (df, 'production_companies'), (df, 'production_countries'), (df, 'spoken_languages')]

In [30]:
for tup in columns_to_flatten:
    flatten_column(tup[0], tup[1])

#### 2.8.2 Aplanar columna `crew`

In [31]:
# Convertir todos los valores faltantes en cadenas de listas vacías
df['crew'] = df['crew'].fillna('[]')
df['crew'] = df['crew'].apply(literal_eval)
df.iloc[0]['crew'][0]

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

##### 2.8.2.1 Crear columna `director` con los nombres de las personas que ocupan ese trabajo en la columna crew

In [32]:
df['director'] = df['crew'].apply(get_director)

In [33]:
df['director'].head()

0      John Lasseter
1       Joe Johnston
2      Howard Deutch
3    Forest Whitaker
4      Charles Shyer
Name: director, dtype: object

#### 2.8.3 Aplanar columna `cast`

In [34]:
flatten_column(df, 'cast')

In [35]:
df['cast'][0]

['tom hanks',
 'tim allen',
 'don rickles',
 'jim varney',
 'wallace shawn',
 'john ratzenberger',
 'annie potts',
 'john morris',
 'erik von detten',
 'laurie metcalf',
 'r. lee ermey',
 'sarah freeman',
 'penn jillette']

#### 2.8.4 Eliminar columna `crew`

In [36]:
df.drop('crew', axis=1, inplace=True)

### 2.9 Imputar valores faltes columna `original_language`

In [37]:
df[['title', 'original_language']]

                             title original_language
0                        Toy Story                en
1                          Jumanji                en
2                 Grumpier Old Men                en
3                Waiting to Exhale                en
4      Father of the Bride Part II                en
...                            ...               ...
45428                       Subdue                fa
45429          Century of Birthing                tl
45430                     Betrayal                en
45431             Satan Triumphant                en
45432                     Queerama                en

[45433 rows x 2 columns]

#### 2.9.1 Imputar los valores faltantes del campo `original_language` con el valor iso639 del primer lenguaje encontrado en la columna `spoken_languages`

In [38]:
# crear columna con el cod iso-639 primer lenguaje encontrado en la lista de la columna "spoken_languages" (usando función inc_iso639)
df['first_lang'] = df['spoken_languages'].apply(lambda x: inc_iso639(x[0]) if len(x) > 0 else '')

In [39]:
# Verificar valores faltantes en columna "original_language"
df[df['original_language'].isnull()]

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,director,first_lang
19566,no collection,0.0,[documentary],283101,NaN,Documentary about the production of The Third ...,0.017007,"[studiocanal, british broadcasting corporation...","[austria, france, japan, united kingdom, unite...",2004-10-11,...,95.0,"[deutsch, english]",Released,NaN,Shadowing the Third Man,0.0,0.0,"[john hurt, guy hamilton, angela allen, daniel...",Frederick Baker,de
21589,no collection,0.0,"[romance, drama]",103902,NaN,An Outback farmer takes in an Afghani woman wh...,0.359818,"[new holland pictures, idtv film]",[australia],2007-08-04,...,94.0,[english],Released,NaN,Unfinished Sky,6.4,8.0,"[william mcinnes, monic hendrickx, bille brown...",Peter Duncan,en
22817,no collection,0.0,"[war, western]",359195,NaN,A group of Union Army soldiers is charged with...,0.070647,[associated producers (api)],[united states of america],1960-03-31,...,69.0,[english],Released,NaN,13 Fighting Men,0.0,0.0,"[grant williams, brad dexter, carole mathews, ...",Harry W. Gerstad,en
32118,no collection,0.0,[comedy],147050,NaN,George and Gracie enter an elegant drawing roo...,0.073418,"[warner bros., the vitaphone corporation]",[united states of america],1929-10-31,...,8.0,[english],Released,NaN,Lambchops,6.5,2.0,"[george burns, gracie allen]",Murray Roth,en
37380,no collection,0.0,[animation],257095,NaN,The first fairy tale transformed into a full-l...,0.036841,[ceskoslovenský státní film],[czech republic],1950-01-26,...,87.0,[český],Released,NaN,Prince Bayaya,5.0,1.0,[],Jiří Trnka,cs
41017,no collection,0.0,[documentary],332742,NaN,"Until the late 1970s, the Pakistani city of La...",0.373688,[],[],2015-11-13,...,82.0,"[اردو, english, ਪੰਜਾਬੀ]",Released,NaN,Song of Lahore,6.5,2.0,[],Andy Schocken,ur
41842,no collection,0.0,[documentary],144410,NaN,Two dancers perform in succession facing a sta...,1.58434,[edison manufacturing company],[united states of america],1895-04-01,...,1.0,[no language],Released,NaN,Annabelle Serpentine Dance,5.7,20.0,[annabelle moore],William Heise,Sin Idioma
44027,no collection,0.0,[drama],380438,NaN,NaN,0.001283,[],[france],2001-01-01,...,0.0,[français],Released,NaN,Lettre d'une inconnue,0.0,0.0,"[irène jacob, christopher thompson, joachim bi...",Jacques Deray,fr
44380,no collection,0.0,"[animation, documentary]",381096,NaN,The traditional crafts of crochet and knitting...,0.067624,[],[],2016-03-12,...,76.0,"[svenska, english, íslenska]",Released,NaN,Yarn,0.0,0.0,"[tinna thorudottir thorvaldar, olek, toshiko h...",Heather Millard,sv
44546,no collection,0.0,[],381525,NaN,American investment fund buys Austrian compani...,0.030766,[],[austria],2016-01-27,...,84.0,"[deutsch, english]",Released,NaN,WiNWiN,0.0,0.0,[],Daniel Hoesl,de
44625,no collection,0.0,"[action, war, drama, history]",104473,NaN,"Three military men, seen inside a fortificatio...",0.471325,[star-film],[france],1897-01-01,...,1.0,[no language],Rumored,NaN,The Surrender of Tournavos,4.6,5.0,[],Georges Méliès,Sin Idioma

In [40]:
# Imputar valores faltantes con valor de columna 'first_lang'
df['original_language'].fillna(df['first_lang'], inplace=True)

In [41]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,director,first_lang
0,toy story collection,30000000.0,"[animation, comedy, family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[pixar animation studios],[united states of america],1995-10-30,...,81.0,[english],Released,NaN,Toy Story,7.7,5415.0,"[tom hanks, tim allen, don rickles, jim varney...",John Lasseter,en
1,no collection,65000000.0,"[adventure, fantasy, family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[tristar pictures, teitler film, interscope co...",[united states of america],1995-12-15,...,104.0,"[english, français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[robin williams, jonathan hyde, kirsten dunst,...",Joe Johnston,en
2,grumpy old men collection,0.0,"[romance, comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[warner bros., lancaster gate]",[united states of america],1995-12-22,...,101.0,[english],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[walter matthau, jack lemmon, ann-margret, sop...",Howard Deutch,en
3,no collection,16000000.0,"[comedy, drama, romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[twentieth century fox film corporation],[united states of america],1995-12-22,...,127.0,[english],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[whitney houston, angela bassett, loretta devi...",Forest Whitaker,en
4,father of the bride collection,0.0,[comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[sandollar productions, touchstone pictures]",[united states of america],1995-02-10,...,106.0,[english],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[steve martin, diane keaton, martin short, kim...",Charles Shyer,en

In [42]:
df[df['title'] == 'Song of Lahore']

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,director,first_lang
41017,no collection,0.0,[documentary],332742,ur,"Until the late 1970s, the Pakistani city of La...",0.373688,[],[],2015-11-13,...,82.0,"[اردو, english, ਪੰਜਾਬੀ]",Released,NaN,Song of Lahore,6.5,2.0,[],Andy Schocken,ur

In [43]:
df.isnull().sum()*100/df.shape[0]

belongs_to_collection     0.000000
budget                    0.000000
genres                    0.000000
id                        0.000000
original_language         0.000000
overview                  2.099795
popularity                0.006603
production_companies      0.000000
production_countries      0.000000
release_date              0.191491
revenue                   0.006603
runtime                   0.572271
spoken_languages          0.000000
status                    0.184888
tagline                  55.096516
title                     0.006603
vote_average              0.006603
vote_count                0.006603
cast                      0.000000
director                  1.954526
first_lang                0.609689
dtype: float64

### Eliminar otras columnas no requeridas para el análisis

In [44]:
df.drop(['first_lang', 'status', 'popularity', 'spoken_languages', 'vote_average', 'vote_count'], axis=1, inplace=True)
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,production_companies,production_countries,release_date,revenue,runtime,tagline,title,cast,director
0,toy story collection,30000000.0,"[animation, comedy, family]",862,en,"Led by Woody, Andy's toys live happily in his ...",[pixar animation studios],[united states of america],1995-10-30,373554033.0,81.0,NaN,Toy Story,"[tom hanks, tim allen, don rickles, jim varney...",John Lasseter
1,no collection,65000000.0,"[adventure, fantasy, family]",8844,en,When siblings Judy and Peter discover an encha...,"[tristar pictures, teitler film, interscope co...",[united states of america],1995-12-15,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,"[robin williams, jonathan hyde, kirsten dunst,...",Joe Johnston
2,grumpy old men collection,0.0,"[romance, comedy]",15602,en,A family wedding reignites the ancient feud be...,"[warner bros., lancaster gate]",[united states of america],1995-12-22,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[walter matthau, jack lemmon, ann-margret, sop...",Howard Deutch
3,no collection,16000000.0,"[comedy, drama, romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",[twentieth century fox film corporation],[united states of america],1995-12-22,81452156.0,127.0,Friends are the people who let you be yourself...,Waiting to Exhale,"[whitney houston, angela bassett, loretta devi...",Forest Whitaker
4,father of the bride collection,0.0,[comedy],11862,en,Just when George Banks has recovered from his ...,"[sandollar productions, touchstone pictures]",[united states of america],1995-02-10,76578911.0,106.0,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,"[steve martin, diane keaton, martin short, kim...",Charles Shyer

In [45]:
df.isnull().sum()*100/df.shape[0]

belongs_to_collection     0.000000
budget                    0.000000
genres                    0.000000
id                        0.000000
original_language         0.000000
overview                  2.099795
production_companies      0.000000
production_countries      0.000000
release_date              0.191491
revenue                   0.006603
runtime                   0.572271
tagline                  55.096516
title                     0.006603
cast                      0.000000
director                  1.954526
dtype: float64

### 2.10 Crear la columna con el retorno de inversión

#### 2.10.1 imputar con **0** valores nulos de columna `revenue`

In [46]:
df['revenue'].fillna(0, inplace=True)

#### 2.10.2 Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0

In [47]:
df['return'] = df.apply(lambda x: x['revenue'] / x['budget'] if x['budget'] != 0 else 0, axis=1)

In [48]:
df.isnull().sum()*100/df.shape[0]

belongs_to_collection     0.000000
budget                    0.000000
genres                    0.000000
id                        0.000000
original_language         0.000000
overview                  2.099795
production_companies      0.000000
production_countries      0.000000
release_date              0.191491
revenue                   0.000000
runtime                   0.572271
tagline                  55.096516
title                     0.006603
cast                      0.000000
director                  1.954526
return                    0.000000
dtype: float64

#### 2.10.3 Crear columna `year`

In [49]:
# Verificar información de columna "release_date"
df['release_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 45433 entries, 0 to 45432
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45346 non-null  object
dtypes: object(1)
memory usage: 355.1+ KB

In [50]:
# Cambiar a tipo datetime columna "release_date" y se crea la columna release_year 
df['release_date'] = pd.to_datetime(df['release_date'], format= '%Y-%m-%d', errors='coerce')
df['release_year'] = df['release_date'].dt.year

In [51]:
# Pasar a int los datos de la columna release_year ya que la transformación los entrego como float64
df['release_year'] = df['release_year'].astype('Int64')
df[['release_date', 'release_year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_date  45346 non-null  datetime64[ns]
 1   release_year  45346 non-null  Int64
dtypes: Int64(1), datetime64[ns](1)
memory usage: 754.4 KB

In [52]:
df[['release_date', 'release_year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_date  45346 non-null  datetime64[ns]
 1   release_year  45346 non-null  Int64
dtypes: Int64(1), datetime64[ns](1)
memory usage: 754.4 KB

### 2.11 Eliminar columna `tagline`

In [53]:
# Se elimina la columna "tagline" ya que presenta un 55.10% de datos nulos
df.drop(['tagline'], axis=1, inplace=True)

### 2.12 Eliminar filas con datos nulos

In [54]:
# Se eliminan las filas que quedan y contienen datos nulos
df_clean = df.dropna()

In [55]:
print('Cantidad de registros dataset original sin filas repetidas: ', df.shape[0])
print('Cantidad de registros dataset limpio: ', df_clean.shape[0])
print('*' * 80)
print(f'El DataFrame Limpio (df_clean) mantiene el {round(df_clean.shape[0]*100/df.shape[0], 2)}% de los datos originales')
print('*' * 80)

Cantidad de registros dataset original sin filas repetidas:  45433
Cantidad de registros dataset limpio:  43641
********************************************************************************
El DataFrame Limpio (df_clean) mantiene el 96.06% de los datos originales
********************************************************************************

In [56]:
df_clean.isnull().sum()*100/df_clean.shape[0]

belongs_to_collection    0.0
budget                   0.0
genres                   0.0
id                       0.0
original_language        0.0
overview                 0.0
production_companies     0.0
production_countries     0.0
release_date             0.0
revenue                  0.0
runtime                  0.0
title                    0.0
cast                     0.0
director                 0.0
return                   0.0
release_year             0.0
dtype: float64

## 3. Generar archivos para trabajar limpios

In [58]:
# Generar archivo movies_cleaned.csv
# df_clean.to_csv('datasets/movies_cleaned.csv', index=False, encoding='utf-8')

# Generar archivo movies_reduced.csv
# df.to_csv('datasets/movies_reduced.csv', index=False, encoding='utf-8')

## <span style="color:green">Final ETL</span>

In [59]:
import pandas as pd
df = pd.read_csv('datasets/movies_reduced.csv')

In [60]:
def get_lang(idioma:str):
    '''
    Función para obtener el codigo iso639 de un pais o el nombre del mismo escrito en el idioma 
    '''
    lang = {
            'aa' : 'afar',
            'ab' : 'abjasio',  # (o abjasiano)
            'ae' : 'avéstico',
            'af' : 'afrikáans',
            'ak' : 'akano',
            'am' : 'amhárico',
            'an' : 'aragonés',
            'ar' : 'العربية',
            'as' : 'asamés',
            'av' : 'avar',  # (o ávaro)
            'ay' : 'aimara',
            'az' : 'azerí',
            'ba' : 'baskir',
            'be' : 'беларуская мова',
            'bg' : 'български език',
            'bh' : 'bhoyapurí',
            'bi' : 'bislama',
            'bm' : 'bamanankan',
            'bn' : 'বাংলা',
            'bo' : 'tibetano',
            'br' : 'bretón',
            'bs' : 'bosanski',
            'ca' : 'català',
            'ce' : 'checheno',
            'ch' : 'chamorro',
            'co' : 'corso',
            'cr' : 'cree',
            'cs' : 'český',
            'cu' : 'eslavo',  # eclesiástico antiguo
            'cv' : 'chuvasio',
            'cy' : 'cymraeg',
            'da' : 'dansk',
            'de' : 'deutsch',
            'dv' : 'maldivo',  # (o dhivehi)
            'dz' : 'dzongkha',
            'ee' : 'ewé',
            'el' : 'ελληνικά',  # (moderno)
            'en' : 'english',
            'eo' : 'esperanto',
            'es' : 'español',  # (o castellano)
            'et' : 'eesti',
            'eu' : 'euskera',
            'fa' : 'فارسی',
            'ff' : 'fula',
            'fi' : 'suomi',  # (o finlandés)
            'fj' : 'fiyiano',  # (o fiyi)
            'fo' : 'feroés',
            'fr' : 'français',
            'fy' : 'frisón',  # (o frisio)
            'ga' : 'gaeilge',  # (o gaélico)
            'gd' : 'gaélico',  # escocés
            'gl' : 'galego',
            'gn' : 'guaraní',
            'gu' : 'guyaratí',  # (o gujaratí)
            'gv' : 'manés',  # (gaélico manés o de Isla de Man)
            'ha' : 'hausa',
            'he' : 'עִבְרִית',
            'hi' : 'हिन्दी',  # (o hindú)
            'ho' : 'hiri',  # motu
            'hr' : 'hrvatski',
            'ht' : 'haitiano',
            'hu' : 'magyar',
            'hy' : 'armenio',
            'hz' : 'herero',
            'ia' : 'interlingua',
            'id' : 'bahasa indonesia',
            'ie' : 'occidental',
            'ig' : 'igbo',
            'ii' : 'yi de Sichuán',
            'ik' : 'iñupiaq',
            'io' : 'ido',
            'is' : 'íslenska',
            'it' : 'italiano',
            'iu' : 'inuktitut',  # (o inuit)
            'ja' : '日本語',
            'jv' : 'javanés',
            'ka' : 'ქართული',
            'kg' : 'kongo',  # (o kikongo)
            'ki' : 'kikuyu',
            'kj' : 'kuanyama',
            'kk' : 'қазақ',  # (o kazajio)
            'kl' : 'groenlandés',  # (o kalaallisut)
            'km' : 'camboyano',  # o jemer)
            'kn' : 'Kannada',
            'ko' : '한국어/조선말',
            'kr' : 'kanuri',
            'ks' : 'cachemiro',  # (o cachemir)
            'ku' : 'kurdo',
            'kv' : 'komi',
            'kw' : 'córnico',
            'ky' : 'kirghiz',
            'la' : 'latín',
            'lb' : 'luxemburgués',
            'lg' : 'luganda',
            'li' : 'limburgués',
            'ln' : 'lingala',
            'lo' : 'lao',
            'lt' : 'lietuvi\x9akai',
            'lu' : 'luba-katanga',  # (o chiluba)
            'lv' : 'latviešu',
            'mg' : 'malgache',  # (o malagasy)
            'mh' : 'marshalés',
            'mi' : 'maorí',
            'mk' : 'macedonio',
            'ml' : 'malayalam',
            'mn' : 'mongol',
            'mr' : 'maratí',
            'ms' : 'bahasa melayu',
            'mt' : 'malti',
            'my' : 'birmano',
            'na' : 'nauruano',
            'nb' : 'bokmål',  # bokmål
            'nd' : 'ndebele del norte',
            'ne' : 'nepalí',
            'ng' : 'ndonga',
            'nl' : 'nederlands',  # (u holandés)
            'nn' : 'nynorsk',
            'no' : 'norsk',
            'nr' : 'ndebele del sur',
            'nv' : 'navajo',
            'ny' : 'chichewa',
            'oc' : 'occitano',
            'oj' : 'ojibwa',
            'om' : 'oromo',
            'or' : 'oriya',
            'os' : 'osético',  # (u osetio, u oseta)
            'pa' : 'ਪੰਜਾਬੀ', # (o penyabi)
            'pi' : 'pali',
            'pl' : 'polski',
            'ps' : 'پښتو',  # (o pastún, o pashto)
            'pt' : 'português',
            'qc' : 'quechua',
            'rm' : 'romanche',
            'rn' : 'kirundi',
            'ro' : 'română',
            'ru' : 'pусский',
            'rw' : 'kinyarwanda',  # (o kiñaruanda)
            'sa' : 'sánscrito',
            'sc' : 'sardo',
            'sd' : 'sindhi',
            'se' : 'sami septentrional',
            'sg' : 'sango',
            'si' : 'cingalés',
            'sk' : 'slovenčina',
            'sl' : 'slovenščina',
            'sm' : 'samoano',
            'sn' : 'shona',
            'so' : 'somalí',
            'sq' : 'shqip',
            'sr' : 'srpski',
            'ss' : 'suazi',  # (o swati, o siSwati)
            'st' : 'sesotho',
            'su' : 'sundanés',  # (o sondanés)
            'sv' : 'svenska',
            'sw' : 'kiswahili',
            'ta' : 'தமிழ்',
            'te' : 'తెలుగు',
            'tg' : 'tayiko',
            'th' : 'ภาษาไทย',
            'ti' : 'tigriña',
            'tk' : 'turcomano',
            'tl' : 'tagalo',
            'tn' : 'setsuana',
            'to' : 'tongano',
            'tr' : 'türkçe',
            'ts' : 'tsonga',
            'tt' : 'tártaro',
            'tw' : 'twi',
            'ty' : 'tahitiano',
            'ug' : 'uigur',
            'uk' : 'український',
            'ur' : 'اردو',
            'uz' : 'ozbek',
            've' : 'venda',
            'vi' : 'tiếng việt',
            'vo' : 'volapük',
            'wa' : 'valón',
            'wo' : 'wolof',
            'xh' : 'xhosa',
            'yi' : 'yídish',  # (o yidis, o yiddish)
            'yo' : 'yoruba',
            'za' : 'chuan',  # (o chuang, o zhuang)
            'zh' : '普通话',
            'zu' : 'isizulu',
            'cn' : '广州话 / 廣州話',
            'Sin Idioma': 'no language'
            }
    
    if len(idioma)>2:
        for k, v in lang.items():
            if v == idioma.lower():
                return k
    else:
        for k, v in lang.items():

            if k == idioma.lower():
                return v

In [61]:
idioma = 'zh'

def peliculas_idioma(lan):
    idioma = get_lang(lan)
    if len(idioma) > 2:
        idioma, lan = lan, idioma
        
    resul = df.loc[df['original_language'] == idioma].shape[0]# df_clean['original_language'][df_clean['original_language'] == idioma].count()
    return{
        'idioma':f'{idioma}-{lan}',
        'cantidad': resul
    }
    
peliculas_idioma(idioma)

{'idioma': 'zh-普通话', 'cantidad': 409}

In [62]:
pelicula = 'Rocky II'
def peliculas_duracion(pelicula):
    try:        
        resul = df.loc[df['title'] == pelicula]
        movie_length = resul['runtime'].values[0]
        year = resul['release_year'].values[0]
        return movie_length, year
    except:
        return 'Sin resultado'

peliculas_duracion(pelicula)

'Sin resultado'

In [63]:
franq = 'toy story collection'
def franquicia(franquicia):
        
        '''
         Retornar la cantidad de peliculas, ganancia total y ganancia promedio de la franquicia pasada como parámetro.

         Por criterio del problema se tomará como ganancia la columna "revenue" 

         Parametros
         ----------

         franquicia: str el nombre de la franquisia
        '''
        
        resul = df.loc[df['belongs_to_collection'] == franquicia]
        
        if len(resul) == 0:
            return False
        else:
            amount_movies = resul.shape[0]
            total_revenue = round(resul.revenue.sum()/1000000, 2)
            mean_revenue = round(resul.revenue.mean()/1000000, 2)
            return amount_movies, total_revenue, mean_revenue
        
print(franquicia(franq))

(3, 1937.89, 645.96)

In [64]:
p = 'philippines'

def pelicula_pais(pais: str):
                          
    '''
    Retornar la cantidad de peliculas producidas en el país pasado como parámetro.

    Parametros
    ----------

    pais: str el nombre del país según se encuentra en la base de datos
    '''

    df_coun = df.loc[:,['title','production_countries']]
    df_coun['production_countries'] = df_coun['production_countries'].apply(eval)
    df_coun = df_coun.explode('production_countries')
    resul = df_coun[df_coun['production_countries'] == pais].shape[0]
    
    return resul
    
    
pelicula_pais(p)

83

In [65]:
df_coun = df.loc[:,['title','production_countries']]
df_coun['production_countries'] = df_coun['production_countries'].apply(eval)
df_coun = df_coun.explode('production_countries')
resul = df_coun[df_coun['production_countries'] == 'venezuela'].shape[0]
resul

19

In [147]:
p = 'tristar pictures'
def productoras_exitosas(productora):
    
    '''
    Retorna el revunue total y la cantidad de peliculas que realizo la productora pasada por parámetro 


    Parametros
    ----------

    productora: str el nombre de la productora según se encuentra en la base de datos
    '''

    df_produc = df.loc[:,['production_companies','revenue']]
    df_produc['production_companies'] = df_produc['production_companies'].apply(eval)
    df_produc = df_produc.explode('production_companies')

    total_revenue = df_produc[df_produc['production_companies'] == productora]['revenue'].sum()
    amount_movies = df_produc[df_produc['production_companies'] == productora].shape[0]

    return total_revenue, amount_movies

productoras_exitosas(p)

(8022366764.0, 197)

In [72]:
df_produc = df.loc[:,['production_companies','revenue']]
df_produc['production_companies'] = df_produc['production_companies'].apply(eval)
df_produc = df_produc.explode('production_companies')

total_revenue = df_produc[df_produc['production_companies'] == 'tristar pictures']['revenue'].sum()
amount_movies = df_produc[df_produc['production_companies'] == 'tristar pictures'].shape[0]
total_revenue, amount_movies

(8022366764.0, 197)

In [69]:
df_produc

            production_companies      revenue
0        pixar animation studios  373554033.0
1               tristar pictures  262797249.0
1                   teitler film  262797249.0
1      interscope communications  262797249.0
2                   warner bros.          0.0
...                          ...          ...
45428                        NaN          0.0
45429                sine olivia          0.0
45430    american world pictures          0.0
45431                  yermoliev          0.0
45432                        NaN          0.0

[82335 rows x 2 columns]

In [85]:
list(df_produc['production_companies'].unique())

['pixar animation studios',
 'tristar pictures',
 'teitler film',
 'interscope communications',
 'warner bros.',
 'lancaster gate',
 'twentieth century fox film corporation',
 'sandollar productions',
 'touchstone pictures',
 'regency enterprises',
 'forward pass',
 'paramount pictures',
 'scott rudin productions',
 'mirage enterprises',
 'constellation entertainment',
 'worldwide',
 'mont blanc entertainment gmbh',
 'walt disney pictures',
 'universal pictures',
 'imperial entertainment',
 'signature entertainment',
 'united artists',
 'eon productions',
 'columbia pictures',
 'castle rock entertainment',
 'enigma pictures',
 'amblin entertainment',
 'amblimation',
 'hollywood pictures',
 'cinergi pictures entertainment',
 'le studio canal+',
 'laurence mark productions',
 'metro-goldwyn-mayer (mgm)',
 'carolco pictures',
 'légende entreprises',
 'syalis da',
 'de fina-cappa',
 'columbia pictures corporation',
 'miramax films',
 'a band apart',
 'o entertainment',
 'morgan creek productions',
 'jersey films',
 'new regency pictures',
 'silver pictures',
 'canal+',
 'dino de laurentiis company',
 'donner/shuler-donner productions',
 'evansgideon/lazar',
 'caravan pictures',
 'intial productions',
 'new line cinema',
 'bbc films',
 'procirep',
 'constellation productions',
 'france 3 cinéma',
 'claudie ossard productions',
 'eurimages',
 'media programme of the european union',
 'cofimage 5',
 'televisión española (tve)',
 'tele münchen fernseh produktionsgesellschaft (tmg)',
 "club d'investissement média",
 'canal+ españa',
 'elías querejeta producciones cinematográficas s.l.',
 'centre national de la cinématographie (cnc)',
 'victoires productions',
 'constellation',
 'lumière pictures',
 'studio image',
 'cofimage 4',
 'ossane',
 'phoenix images',
 'ministère des affaires étrangères',
 'alpha films',
 'la sept cinéma',
 'via rosa productions',
 'don simpson/jerry bruckheimer films',
 'atlas entertainment',
 'classico',
 'iwerks entertainment',
 'kennedy miller productions',
 'studiocanal',
 'cinéa',
 'euston films',
 'freeway films',
 'european co-production fund',
 'polygram filmed entertainment',
 'orsans productions',
 'havoc',
 'working title films',
 'sony new technologies',
 'dualstar productions',
 'rysher entertainment',
 'orr & cruickshank',
 'miramax',
 'distant horizon',
 'alpine pty limited',
 'british screen',
 'mayfair entertainment international',
 'underworld entertainment',
 'threshold entertainment',
 'the rank organisation',
 'juno pix',
 'cecchi gori pictures',
 'walt disney feature animation',
 'alliance communications corporation',
 'blue parrot productions',
 'bad hat harry productions',
 nan,
 'magnolia pictures',
 'ciby 2000',
 'telefilm canada',
 'melenny productions',
 'egg pictures',
 'the kennedy/marshall company',
 'the charlie mopic company',
 'island pictures',
 'ivory way productions',
 'motion picture corporation of america (mpca)',
 '3 arts entertainment',
 'weasel productions',
 'renn productions',
 'les films flam',
 'tf1 films production',
 'dimension films',
 'los hooligans productions',
 'castleberg productions',
 'les films 13',
 'tf1',
 'the movie network (tmn)',
 'allegro films',
 'fuji eight company ltd.',
 'fries film group',
 'super ecran',
 'triumph films',
 'zweites deutsches fernsehen (zdf)',
 'ciak filmproduktion',
 'bluehorse films',
 'i.r.i.b. channel 2',
 'ferdos films',
 'bergen film',
 'bard entertainments',
 'nps televisie',
 'bet pictures',
 'united image entertainme',
 'playhouse international pictures',
 'the samuel goldwyn company',
 'largo entertainment',
 'scott free productions',
 'joe wizan/todd black',
 'addis wechsler pictures',
 'nfh productions',
 'woods entertainment',
 'wcg entertainment productions',
 'mark gordon productions',
 'midwinter films',
 'les productions lazennec',
 'kasso inc. productions',
 'cofinergie 6',
 'channel four films',
 'british broadcasting corporation (bbc)',
 'westdeutscher rundfunk (wdr)',
 'canadian broadcasting corporation (cbc)',
 'cinemax reel life',
 'inpictures',
 'lafayette films',
 'gracie films',
 'spelling films',
 'brillstein-grey entertainment',
 'robert simonds productions',
 'malpaso productions',
 'jim henson productions',
 'jim henson company, the',
 'icon entertainment international',
 'the ladd company',
 'b.h. finance c.v.',
 'italo/judeo productions',
 'bill/phillips',
 'golden harvest company',
 'téléfilm canada',
 'skyline films',
 'malofilm',
 'société de développement des entreprises culturelles (sodec)',
 'british screen productions',
 'national film board of canada (nfb)',
 'imx communications',
 'glace bay pictures',
 'ciné télé action',
 'nova scotia film development corporation',
 'ranfilm',
 'france 2 cinéma',
 'les productions du champ poirier',
 'téléma productions',
 'bavaria film and television fund',
 'savoy pictures',
 'jet tone production',
 'the criterion collection',
 'cecchi gori group tiger cinematografica',
 'studio babelsberg',
 'dieter geissler filmproduktion',
 'cinevox filmproduktion gmbh',
 'canal horizons',
 'mat films',
 'cinétéléfilms',
 'fine line features',
 'bórd scannán na héireann',
 'cigua films',
 "d'pelicula",
 'couch potatoe productions',
 'academy',
 'mayfair films',
 'iberoamerica films',
 'fox searchlight pictures',
 'bbc',
 'portman productions',
 'zenith entertainment',
 'american playhouse',
 'union générale cinématographique (ugc)',
 'true fiction pictures',
 'imagine entertainment',
 'talisman productions',
 'october films',
 'guild',
 'fastnet films',
 'paris films productions',
 'five films',
 'robert et raymond hakim',
 'interal',
 'the harvey entertainment company',
 '40 acres & a mule filmworks',
 'kennedy/marshall company, the',
 'superior pictures',
 'mundy lane entertainment',
 'why not productions',
 'desperate pictures',
 'blurco',
 'the teen angst movie company',
 'merchant ivory productions',
 'first knight productions',
 'alcor films',
 'suftley',
 'the booking office',
 "workin' man films",
 'jdi productions',
 'lemon sky productions',
 'seraphim films',
 'the ontario film development corporation',
 'first choice films',
 'atlantis films',
 'max films productions',
 'super écran',
 'société générale des industries culturelles du québec (sogic)',
 'gramercy pictures',
 'alphaville films',
 'view askew productions',
 'saban entertainment',
 'toei company',
 'comet film produktion gmbh',
 'avrora media',
 'cobblestone pictures',
 'kino link company',
 '1492 pictures',
 'party productions',
 'samuel goldwyn company, the',
 'killer films',
 'kardana films',
 'chemical films',
 'spring creek productions',
 'hawn / sylbert movie company',
 "butcher's run films",
 'lightstorm entertainment',
 'beta film',
 'madeleine films',
 'parc film',
 'société française de production (sfp)',
 'fit productions',
 'seagal/nasso productions',
 'victor company of japan (jvc)',
 'cutting edge films',
 'zucker brothers productions',
 'gordon company',
 'davis entertainment',
 'licht/mueller film corporation',
 'hbo',
 'a bandapart',
 'studio trite',
 'caméra one',
 'polygram audiovisuel',
 'detour film production',
 'jack giarraputo productions',
 'spelling films international',
 'hera productions',
 'island world',
 'full moon entertainment',
 'lantana',
 'price entertainment',
 'american zoetrope',
 'baltimore pictures',
 'keystone pictures',
 'dream man productions inc',
 'capitol films',
 'flach film',
 "les films de l'astre",
 'ang lee productions',
 'good machine',
 'central motion pictures',
 'alliance entertainment',
 'ego film arts',
 'prufrock pictures',
 'metro-goldwyn-mayer',
 'italian international film',
 'stéphan films',
 'mg',
 'kartemquin films',
 'wingnut films',
 'new zealand film commission',
 'fontana productions',
 'majestic films international',
 'bregman/baer productions',
 'geffen pictures',
 'northern lights entertainment',
 'fountainbridge films',
 'lee rich productions',
 'trimark pictures',
 'lucasfilm',
 'parallax pictures',
 'mk2 productions',
 'aviacsa',
 'cinevista',
 'bedford falls productions',
 'pangaea',
 'live entertainment',
 'cineville',
 'home box office (hbo)',
 'showcase entertaiment inc.',
 'samuel goldwyn company',
 'close call films',
 'newcomb productions',
 'wolper organization',
 'capella international',
 'cinehaus',
 'toei',
 'distant justice joint venture',
 'metrodome films',
 'filmwerks',
 'ixtlan',
 'j d productions',
 'avalon studios',
 'new zealand on air',
 'cinetel pictures',
 'mg entertainment',
 'kopelson entertainment',
 'punch productions',
 'arnold kopelson productions',
 'gaumont',
 'gramercy pictures (i)',
 'mvp films',
 'wildwood enterprises',
 'cecile company',
 'thousand cranes filmworks',
 'ard/degeto film gmbh',
 'd.a. films',
 'france2 cinéma',
 'wmg film',
 'n.e.f. filmproduktion und vertriebs gmbh',
 'rcs films & tv',
 'nomura babcock & brown',
 'zespół filmowy tor',
 'télévision suisse-romande',
 'ced productions',
 'norstar entertainment',
 'west wind entertainment',
 'rich animation studios',
 'jones entertainment group',
 'skerry productions',
 'jerry weintraub productions',
 'iguana producciones',
 'centropolis entertainment',
 'carolco entertainment',
 'figment films',
 'the glasgow film fund',
 'kino korsakoff',
 'tabasco films',
 'instituto mexicano de cinematografía (imcine)',
 'telemadrid',
 '1992 number four limited partnership',
 'mha',
 'shanghai film studios',
 'era international ltd',
 'trilogy entertainment group',
 'tales from the crypt holdings',
 'sony pictures classics',
 'populist pictures',
 'jackson/mchenry company,the',
 'first generation films',
 'british columbia film commission',
 'film victoria',
 'house & moorhouse films',
 'beacon pictures',
 'r.p. productions',
 'les films alain sarde',
 'timothy burrill productions',
 'mace neufeld productions',
 'crowvision inc.',
 'entertainment media investment corporation',
 'jeff most productions',
 'edward r. pressman film',
 'aleor films',
 'hanna-barbera productions',
 'new deal productions',
 'think again productions',
 'riot of color',
 'arte',
 'nomad films',
 'omega film gmbh',
 'without walls',
 'dark horse entertainment',
 'propaganda films',
 'david foster productions',
 'turman-foster company',
 'renaissance pictures',
 'signature pictures',
 'jvc entertainment networks',
 'tig productions',
 'kasdan pictures',
 'paragon entertainment corp.',
 'tool shed productions',
 'little bird',
 'strand releasing',
 'strand home video',
 'eve productions inc.',
 'bolex brothers',
 'lumen films',
 'tara',
 'capcom',
 'snowback productions',
 'bates entertainmant',
 'a-pix entertainment',
 'devin entertainment',
 'theodore thomas productions',
 'overseas filmgroup',
 'skyline entertainment partners',
 'arrow',
 'frozen rope productions inc.',
 'trans-film',
 'initial groupe',
 'fallingcloud',
 'orion pictures',
 'hbo independent productions',
 'nbb unit one film partners',
 'longview entertainment',
 'ruddy morgan organization, the',
 'barcelona films',
 'enigma productions',
 'bsb',
 'natwest ventures',
 'fujisankei',
 'eddie murphy productions',
 'orion pictures corporation',
 'heathrow productions',
 'dorset productions',
 'robert h. solo productions',
 'mainline pictures',
 'hbo films',
 'parkway productions',
 'epic productions',
 'rcs video',
 'cliffhanger productions',
 'pioneer',
 'maverick picture company',
 'cecchi gori europa n.v.',
 'eye productions',
 'pentamerica',
 'alphaville productions',
 'beijing film studio',
 'china film co-production corporation',
 'nelson entertainment',
 'mirage',
 'universal studios',
 'canal plus',
 'can i watch',
 'islet',
 'kpvi',
 'sidley wright & associates',
 'spelling entertainment',
 'irs media',
 'republic pictures (ii)',
 'det danske filminstitut',
 'costa do castelo filmes',
 'neue constantin film',
 'house of spirits film',
 'polygram filmproduktion',
 "hell's kitchen films",
 'kouf/bigelow productions',
 'oak productions',
 'nelvana limited',
 'argos films',
 'oshima productions',
 'shibata organisation',
 'renaissance films',
 'american playhouse theatrical films',
 'rastar films',
 'night life inc.',
 'blue wolf',
 'thin man films',
 'pacific western',
 'allied filmmakers',
 'platinum pictures',
 'mikado film',
 'lenfilm studio',
 'adventure pictures',
 'clinica estetico',
 'new south wales film & television office',
 'the australian film commission',
 'jan chapman productions',
 'walrus & associates',
 'brooksfilms',
 'hilary henkin',
 'seon film productions',
 'romper stomper pty. ltd.',
 'ruby in paradise',
 'full crew/say yea',
 'david v. picker productions',
 'nessa hyams',
 'carrie productions inc.',
 'société nouvelle de cinématographie',
 'santo domingo film & music video',
 'fron film production',
 'polar entertainment',
 'shadowlands productions',
 'avenue entertainment',
 'sarah radclyffe productions - sirens limited',
 'british screen finance ltd',
 'samson productions ii',
 'maiden movies',
 'robert evans company',
 'shaw brothers',
 'columbia pictures industries',
 'columbia films s.a.',
 'walt disney',
 'nintendo',
 'rhombus media',
 'tim burton productions',
 'skellington productions inc.',
 'davis-films',
 'august entertainment',
 'turner pictures (i)',
 'keystone film company (ii)',
 'dd productions',
 'cncaimc',
 'some film',
 'el deseo s.a.',
 'channel 4 television',
 'svt drama',
 'nordisk film',
 'svensk filmindustri (sf)',
 'svenska filminstitutet (sfi)',
 'swelter films',
 'buckeye films',
 'king world entertainment',
 'columbia pictures television',
 'telling pictures',
 'sacher film',
 'banfilm',
 'oscar kramer s.a.',
 'aura film',
 'mojame s.a.',
 'hughes entertainment',
 't2 productions',
 'shapiro-glickenhaus entertainment',
 'the guber-peters company',
 'strong heart/demme production',
 'walt disney productions',
 'walt disney animation studios',
 'silver screen partners iv',
 'rko radio pictures',
 'sodaperaga productions',
 'fontaine sarl',
 'warner brothers/seven arts',
 'long shong pictures',
 'ubu productions',
 'fox 2000 pictures',
 'rosa productions',
 'canadian film development corporation (cfdc)',
 'trans atlantic entertainment',
 'the chess club',
 'el deseo',
 'lolafilms',
 'sociedad general de televisión (sogetel)',
 'fernando trueba producciones cinematográficas',
 'tf1 films productions',
 'france média',
 'les films du scarabée',
 'the vault',
 'wf/x',
 'road movies filmproduktion gmbh',
 'bim distribuzione',
 'filmstiftung nordrhein-westfalen',
 'diaphana films',
 'road movies dritte produktionen',
 'degeto film',
 'messidor films',
 'dark matter productions',
 'granada film productions',
 'mainstream s.a.',
 'marvin worth productions',
 'abc productions',
 'ice films',
 'roxy film',
 'made in munich filmproduktion',
 'senator film produktion',
 'cruise/wagner productions',
 'icicle',
 'film fonds',
 'pandora filmproduktion (',
 'constantin film',
 'park chul-soo films ltd.',
 'distant horizons',
 'koukus troika',
 'toron screen corporation',
 'titanus',
 'paris film',
 'newcomm',
 'lakeshore entertainment',
 'komuna',
 'barrandov studios',
 'per holst filmproduktion',
 'fm entertainment international n.v.',
 'government of west bengal',
 'satyajit ray productions',
 'best brains',
 'warner bros. family entertainment',
 'courtside seats productions',
 'dino de laurentiis cinematografica',
 'marianne productions',
 'libra pictures',
 '129 productions',
 'filmstudio',
 'athos films',
 'chaumiane',
 'films a2',
 'les films de la tour',
 'little bear',
 'mike lobell productions',
 'opala productions',
 'centre national de la cinématographie',
 'odessa films',
 'bioskop film',
 'van peebles films',
 'orpheus films',
 'dan films',
 'merseyside film production fund',
 'evzen kolar productions',
 'favorite films',
 'maurice mcendree productions',
 'walter reade organization inc.',
 'faces international films',
 'mdp worldwide',
 'selima films avv',
 'noon attack pictures',
 'silver screen partners iii',
 'the bubble factory',
 'american films',
 'jvc entertainment',
 'pandora filmproduktion',
 'newmarket capital group',
 '12 gauge productions',
 'hachette première',
 'centaur pictures inc.',
 'gaumont international',
 'france 3 cinema',
 'wood-thomas pictures',
 'atman entertainment',
 'fred berner films',
 'koninck studios',
 'image forum',
 'ruddy morgan productions',
 'pvm entertainment',
 "po' boy productions",
 'price',
 'silvio berlusconi communications',
 "fonds eurimages du conseil de l'europe",
 'urania film',
 'k.g productions',
 'audifilm',
 'bibo productions',
 'constant c productions',
 'glem production',
 'pxp productions',
 'mtm cineteve',
 'pro 7',
 'bandai visual company',
 'kodansha',
 'production i.g.',
 'renegade films',
 'aardman animations',
 'enterprise productions',
 'roberts pictures inc.',
 'steelwork films',
 'mediaworks',
 'hawk films',
 'the canadian council',
 'the canada manitoba cultural industries development office (cido)',
 'the manitoba arts council',
 'anuline',
 'universal city studios',
 'riofilme',
 'royal film',
 'bavaria film',
 'b.a. produktion',
 'perathon film-und fernsehproduktions',
 'village roadshow pictures',
 'available light productions',
 'great oaks entertainment',
 'bbc arena',
 'charles matthau-jerry tokofsky-john davis productions',
 'mact productions',
 'stefi 2',
 'lichtblick film- und fernsehproduktion (i)',
 'magnolia mae films',
 'intrinsica films',
 "centre du cinéma et de l'audiovisuel de la fédération wallonie-bruxelles",
 "sol'oeil films",
 'lamy films',
 'ministère des affaires étrangères et du développement international',
 'studio kankourama',
 'cinegrit',
 'direction du cinema haute volta',
 'cocinor',
 'les films marceau',
 'produzioni europee associati (pea)',
 'pea',
 'independent television service',
 'cicada films',
 'kentucky educational television',
 'nea',
 'sinkhole productions inc.',
 'tmf metro',
 'noel gay motion picture company',
 'film4',
 'recorded picture company (rpc)',
 'jeremy thomas productions',
 'fiction films',
 'mandalay entertainment',
 'motion picture corporation of america',
 'gea cinematográfica',
 'mk2 production',
 'first run features',
 'tangent films international',
 'initial productions',
 'cabin fever entertainment',
 'rio dulce',
 'rastar pictures',
 'nickelodeon movies',
 'electric',
 'team communications group',
 'prairie oyster productions',
 'compagnie eric rohmer (cer)',
 'fuchs/burg',
 'új budapest filmstudió',
 'vega film',
 'producciones tepeyac',
 'dismage',
 'rome paris films',
 'les films du losange',
 'tla releasing',
 'cobra film',
 'the kushner-locke company',
 'brian grazer/scott rudin productions',
 'red mullet productions',
 'chestnut hill productions',
 'chicago pacific entertainment',
 'zanuck company, the',
 'haft entertainment',
 'matchmaker films',
 'lux film',
 'champs-élysées productions',
 'zeta entertainment',
 'lumière',
 'salon films',
 'cofimage 6',
 'giai phong film studio',
 'eleventh street production',
 'jon kilik',
 'vertigo productions',
 'shochiku company',
 'alfran productions',
 'olga-film gmbh (münchen)',
 'golden way films ltd.',
 'pope productions',
 'toho company',
 'australian film finance corporation (affc)',
 'meridian films',
 'sandcastle 5 productions',
 'roger birnbaum productions',
 'albatros produktion',
 'ixtlan productions',
 'breakheart films',
 'toho-towa',
 'mutual film company',
 'marubeni',
 'yorktown productions',
 'kanzaman',
 'kan zamia-a',
 'polaris pictures',
 'universal cartoon studios',
 'summit entertainment',
 'elite-tonfilm-produktion gmbh',
 'ima productions',
 'la sept-arte',
 'ima films',
 "loew's",
 'jurow-shepherd',
 'alfred j. hitchcock productions',
 'the mirisch company',
 'the mirisch corporation',
 'ashton productions',
 "loew's incorporated",
 'selznick international pictures',
 'mercury productions',
 'stanley kubrick productions',
 'walter wanger productions',
 'jerry wald productions',
 'allied artists pictures',
 'arthur freed production',
 'michael todd company',
 'liberty films (ii)',
 'hunt stromberg productions',
 'premier productions',

In [95]:
df_produc[df_produc['production_companies'] == 'irs media']

      production_companies    revenue
462              irs media        0.0
3421             irs media        0.0
3605             irs media  1543112.0
7521             irs media        0.0
9853             irs media        0.0
16349            irs media        0.0
22202            irs media        0.0
39072            irs media        0.0

In [ ]:
director = ''
def director(nombre_director):
    '''
    retorna el éxito medido a través del retorno del director pasado por parámetro. 

    La función retornará ademas del exito del director lo siguiente en una lista:
    nombre de cada película, fecha de lanzamiento, retorno individual, costo y ganancia de la misma. 

    '''
    df_director = df.loc[:,['director', 'return', 'budget','revenue']]
    budget_director = df_director[df_director['director'] == nombre_director]['budget'].sum()
    revenue_director = df_director[df_director['director'] == nombre_director]['revenue'].sum()
    return_direct = revenue_director/budget_director

In [144]:
df_director = df.loc[:,['director', 'title', 'release_date','return', 'budget','revenue']]
budget_director = df_director[df_director['director'] == nombre_director]['budget'].sum()
revenue_director = df_director[df_director['director'] == nombre_director]['revenue'].sum()
return_direct = revenue_director/budget_director

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45433 non-null  object
 1   budget                 45433 non-null  float64
 2   genres                 45433 non-null  object
 3   id                     45433 non-null  int64
 4   original_language      45433 non-null  object
 5   overview               44479 non-null  object
 6   production_companies   45433 non-null  object
 7   production_countries   45433 non-null  object
 8   release_date           45346 non-null  object
 9   revenue                45433 non-null  float64
 10  runtime                45173 non-null  float64
 11  title                  45430 non-null  object
 12  cast                   45433 non-null  object
 13  director               44545 non-null  object
 14  return                 45433 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 5.2+ MB

In [155]:
nombre_director ='Ang Lee'
df_director[df_director['director'] == nombre_director]

,director,title,release_date,return,budget,revenue
16,Ang Lee,Sense and Sensibility,1995-12-13,8.181818,16500000.0,135000000.0
228,Ang Lee,Eat Drink Man Woman,1994-08-03,0.000000,0.0,7294403.0
294,Ang Lee,Pushing Hands,1992-02-01,0.380805,400000.0,152322.0
1558,Ang Lee,The Ice Storm,1997-09-27,0.446559,18000000.0,8038061.0
2999,Ang Lee,Ride with the Devil,1999-11-24,0.016713,38000000.0,635096.0
3870,Ang Lee,"Crouching Tiger, Hidden Dragon",2000-10-01,12.560337,17000000.0,213525736.0
6384,Ang Lee,Hulk,2003-06-19,1.790952,137000000.0,245360480.0
6870,Ang Lee,The Wedding Banquet,1993-08-04,6.933459,1000000.0,6933459.0
10447,Ang Lee,Brokeback Mountain,2005-09-02,12.717412,14000000.0,178043761.0
12081,Ang Lee,"Lust, Caution",2007-09-28,0.000000,15000000.0,0.0
14099,Ang Lee,Taking Woodstock,2009-09-03,0.000000,0.0,0.0
19726,Ang Lee,Life of Pi,2012-11-20,5.075138,120000000.0,609016565.0
25914,Ang Lee,The Hire: Chosen,2001-01-01,0.000000,0.0,0.0
40465,Ang Lee,Billy Lynn's Long Halftime Walk,2016-11-10,0.773275,40000000.0,30930984.0

In [156]:
print(len(df_director[df_director['director'] == nombre_director]))

14

In [157]:
budget_director = df_director[df_director['director'] == nombre_director]['budget'].sum()
budget_director

416900000.0

In [158]:
revenue_director = df_director[df_director['director'] == nombre_director]['revenue'].sum()
revenue_director

1434930867.0

In [159]:
return_direct = revenue_director/budget_director
return_direct

3.441906613096666

In [160]:
movies_director = df_director[df_director['director'] == nombre_director].values
records_director = []

for l in range(len(movies_director)):
    dict_director = {
        'title': movies_director[l][1],
        'release_date': movies_director[l][2],
        'return': movies_director[l][3],
        'budget': movies_director[l][4],
        'revenue': movies_director[l][5]    
        }
    records_director.append(dict_director)
records_director

[{'title': 'Sense and Sensibility',
  'release_date': '1995-12-13',
  'return': 8.181818181818182,
  'budget': 16500000.0,
  'revenue': 135000000.0},
 {'title': 'Eat Drink Man Woman',
  'release_date': '1994-08-03',
  'return': 0.0,
  'budget': 0.0,
  'revenue': 7294403.0},
 {'title': 'Pushing Hands',
  'release_date': '1992-02-01',
  'return': 0.380805,
  'budget': 400000.0,
  'revenue': 152322.0},
 {'title': 'The Ice Storm',
  'release_date': '1997-09-27',
  'return': 0.4465589444444444,
  'budget': 18000000.0,
  'revenue': 8038061.0},
 {'title': 'Ride with the Devil',
  'release_date': '1999-11-24',
  'return': 0.0167130526315789,
  'budget': 38000000.0,
  'revenue': 635096.0},
 {'title': 'Crouching Tiger, Hidden Dragon',
  'release_date': '2000-10-01',
  'return': 12.560337411764706,
  'budget': 17000000.0,
  'revenue': 213525736.0},
 {'title': 'Hulk',
  'release_date': '2003-06-19',
  'return': 1.790952408759124,
  'budget': 137000000.0,
  'revenue': 245360480.0},
 {'title': 'The Wedding Banquet',
  'release_date': '1993-08-04',
  'return': 6.933459,
  'budget': 1000000.0,
  'revenue': 6933459.0},
 {'title': 'Brokeback Mountain',
  'release_date': '2005-09-02',
  'return': 12.7174115,
  'budget': 14000000.0,
  'revenue': 178043761.0},
 {'title': 'Lust, Caution',
  'release_date': '2007-09-28',
  'return': 0.0,
  'budget': 15000000.0,
  'revenue': 0.0},
 {'title': 'Taking Woodstock',
  'release_date': '2009-09-03',
  'return': 0.0,
  'budget': 0.0,
  'revenue': 0.0},
 {'title': 'Life of Pi',
  'release_date': '2012-11-20',
  'return': 5.0751380416666665,
  'budget': 120000000.0,
  'revenue': 609016565.0},
 {'title': 'The Hire: Chosen',
  'release_date': '2001-01-01',
  'return': 0.0,
  'budget': 0.0,
  'revenue': 0.0},
 {'title': "Billy Lynn's Long Halftime Walk",
  'release_date': '2016-11-10',
  'return': 0.7732746,
  'budget': 40000000.0,
  'revenue': 30930984.0}]

In [125]:
list(df_director['director'].unique())

['John Lasseter',
 'Joe Johnston',
 'Howard Deutch',
 'Forest Whitaker',
 'Charles Shyer',
 'Michael Mann',
 'Sydney Pollack',
 'Peter Hewitt',
 'Peter Hyams',
 'Martin Campbell',
 'Rob Reiner',
 'Mel Brooks',
 'Simon Wells',
 'Oliver Stone',
 'Renny Harlin',
 'Martin Scorsese',
 'Ang Lee',
 'Allison Anders',
 'Steve Oedekerk',
 'Joseph Ruben',
 'Barry Sonnenfeld',
 'Jon Amiel',
 'Richard Donner',
 'Victor Salva',
 'Mike Figgis',
 'Oliver Parker',
 'Lesli Linka Glatter',
 'Roger Michell',
 'Jean-Pierre Jeunet',
 'Zhang Yimou',
 'John N. Smith',
 'Terry Gilliam',
 'Jean-Jacques Annaud',
 'Chris Noonan',
 'Christopher Hampton',
 'Tim Robbins',
 'Stephen Low',
 'Andy Tennant',
 'Amy Heckerling',
 'Darrell James Roodt',
 'Richard Loncraine',
 'Albert Hughes',
 'Michael Hoffman',
 'Paul W.S. Anderson',
 'Gus Van Sant',
 'Jocelyn Moorhouse',
 'David Fincher',
 'Mike Gabriel',
 'Patricia Rozema',
 'Bryan Singer',
 'Richard W. Munchkin',
 'Woody Allen',
 'Gianni Amelio',
 'Holly Goldberg Sloan',
 'Ulu Grosbard',
 'Robert Tinnell',
 'Jodie Foster',
 'Michael Radford',
 'Robert Lepage',
 'Frank Oz',
 'John Schlesinger',
 'Stephen Herek',
 'Paris Barclay',
 'Bill Bennett',
 'Jason Bloom',
 'Farhad Mann',
 'James Foley',
 'Josiane Balasko',
 'F. Gary Gray',
 'Robert Rodriguez',
 'Andrew Sipes',
 'Noah Baumbach',
 'Claude Lelouch',
 'Michael Goldenberg',
 'Steve Miner',
 'Christian Duguay',
 'Susanne Ofteringer',
 'Sean Penn',
 'Brian Gibson',
 'Jafar Panahi',
 'Gary Fleder',
 'Marleen Gorris',
 'Tim Reid',
 'Henry Jaglom',
 'Philip Haas',
 'Ridley Scott',
 'Ken Kwapis',
 'Penelope Spheeris',
 'John Badham',
 'John Duigan',
 'Stephen Frears',
 'Wes Craven',
 'Ted Demme',
 'John Woo',
 'Kenneth Branagh',
 'Mathieu Kassovitz',
 'Nick Broomfield',
 'Harold Becker',
 'Wes Anderson',
 'Nick Castle',
 'John Dahl',
 'Dennis Dugan',
 'Clint Eastwood',
 'Doris Dörrie',
 'Brian Henson',
 'Robert Leacock',
 'James Bruce',
 'Mel Gibson',
 'Stanley Tong',
 'Barbet Schroeder',
 'Mort Ransen',
 'Étienne Chatiliez',
 'Jon Blair',
 'Benjamin Ross',
 'Eric Schaeffer',
 'Andrew Davis',
 'Charles T. Kanganis',
 'Reginald Hudlin',
 'Wong Kar-wai',
 'Giuseppe Tornatore',
 'David O. Russell',
 'Peter MacDonald',
 'Moufida Tlatli',
 'Michel Negroponte',
 'Bryan Gordon',
 'Rebecca Miller',
 'Michael Lindsay-Hogg',
 'William Friedkin',
 'Ángel Muñiz',
 'Craig Baldwin',
 'David S. Ward',
 'Mark Rappaport',
 'Dirk Shafer',
 'Terence Davies',
 'Sandip Ray',
 'Jon Avnet',
 'Mike Nichols',
 'Jakov Sedlar',
 'Edward Burns',
 'Michael Bay',
 'Christopher Cain',
 'Scott Kalvert',
 'Mike Newell',
 'Hal Hartley',
 'Ron Howard',
 'Michael Caton-Jones',
 'Abel Ferrara',
 'Joel Schumacher',
 'Luis Buñuel',
 'John Boorman',
 'Paul Auster',
 'Michael Moore',
 'Brad Silberling',
 'Spike Lee',
 'Frank Marshall',
 'Tony Scott',
 'Terry Zwigoff',
 'Carl Franklin',
 'John McTiernan',
 'Gregg Araki',
 'Christopher Menaul',
 'Jerry Zucker',
 'Dwight H. Little',
 'Iain Softley',
 'Christopher Ashley',
 'Robert Longo',
 'Danny Cannon',
 'John Fortenberry',
 'Larry Clark',
 'Tom DiCillo',
 'Clive Barker',
 'Denys Arcand',
 'Antonia Bird',
 'Kevin Smith',
 'Bryan Spicer',
 'David Anspaugh',
 'Anthony Waller',
 'Michael Almereyda',
 'Irwin Winkler',
 'Chris Columbus',
 'Daisy von Scherler Mayer',
 'Gregory Widen',
 'Norman René',
 'Todd Haynes',
 'Roland Joffé',
 nan,
 'Paul Verhoeven',
 'Wayne Wang',
 'Lasse Hallström',
 'Roger Donaldson',
 'James Keach',
 'Kathryn Bigelow',
 'Jacques Demy',
 'Wesley Strick',
 'Martha Coolidge',
 'Agnieszka Holland',
 'Beeban Kidron',
 'Geoff Murphy',
 'Diane Keaton',
 'Douglas Keeve',
 'Alfonso Aráu',
 'Kevin Reynolds',
 'Desmond Nakano',
 'Walter Hill',
 'Greg Beeman',
 'Nikita Mikhalkov',
 'Milčo Mančevski',
 'Richard Linklater',
 'Tamra Davis',
 'Guy Ferland',
 'Herbert Ross',
 'Peter Horton',
 'Stuart Gordon',
 "Pat O'Connor",
 'Jeremy Leven',
 'Barry Levinson',
 'René Bonnière',
 'Jack Baran',
 'Roman Polanski',
 'Taylor Hackford',
 'Peter Farrelly',
 'Atom Egoyan',
 'Garry Marshall',
 'Tim Burton',
 'Lawrence Kasdan',
 'Billy Crystal',
 'Phillip Borsos',
 'Kevin Lima',
 'Brett Leonard',
 'Carlo Carlei',
 'Gérard Corbiau',
 'Mark Lewis',
 'Art Clokey',
 'Charles Burnett',
 'Steve James',
 'Peter Jackson',
 'Randall Miller',
 'Bernard Rose',
 'Steven Brill',
 'J. F. Lawton',
 'Fred Schepisi',
 'Neil Jordan',
 'James Ivory',
 'James Melkonian',
 'Ivan Reitman',
 'Arne Glimcher',
 'Michael Gottlieb',
 'George Lucas',
 'Gillian Armstrong',
 'Alfonso Cuarón',
 'Ken Loach',
 'Claude Chabrol',
 'Edward Zwick',
 'James Gray',
 'Glenn Gordon Caron',
 'Stephen Gyllenhaal',
 'Nicholas Hytner',
 'James Orr',
 'Nora Ephron',
 'Richard Benjamin',
 'Les Mayfield',
 'David Frankel',
 'Gregory Nava',
 'Marc Rocco',
 'Robert Benton',
 'Michael Apted',
 'Nick Gomez',
 'Tōru Murakawa',
 'Vadim Jean',
 'Albert Pyun',
 'Alan Jacobs',
 'Norman Jewison',
 'Lee Tamahori',
 'Anne Goursaud',
 'Wolfgang Petersen',
 'Luc Besson',
 'Mira Nair',
 'Joshua Brand',
 'Quentin Tarantino',
 'Mario Van Peebles',
 'Robert Redford',
 'Kayo Hatta',
 'Patrice Chéreau',
 'Sam Raimi',
 'Peter Yates',
 'Robert Altman',
 'Krzysztof Kieślowski',
 'He Ping',
 'Fred Gerber',
 'George Mihalka',
 'Harold Ramis',
 'Richard Rich',
 'John Sayles',
 'Luis Llosa',
 'Roland Emmerich',
 'John Pasquin',
 'Frank Darabont',
 'Danny Boyle',
 'Scott McGehee',
 'Tomás Gutiérrez Alea',
 'George Huang',
 'Kevin Dowling',
 'Kelly Makin',
 'Rachel Talalay',
 'Ernest R. Dickerson',
 'David Carson',
 'Rusty Cundieff',
 'Brian Gilbert',
 'John Carpenter',
 'Peter Segal',
 'Louis Malle',
 'Steven Soderbergh',
 'Preston A. Whitmore II',
 'Jon Turteltaub',
 'Mina Shum',
 'P.J. Hogan',
 'Melanie Mayron',
 'Tom Shadyac',
 'Stephan Elliott',
 'Phillip Noyce',
 'Jessie Nelson',
 'Alex Proyas',
 'Ron Shelton',
 'Brian Levant',
 'Robert Zemeckis',
 'John Singleton',
 'Darnell Martin',
 'Andrew Bergman',
 'Stephen Sommers',
 'Ray Müller',
 'Roger Allers',
 'Bernardo Bertolucci',
 'Chuck Russell',
 'Alan Rudolph',
 'Ben Stiller',
 'Donald Petrie',
 'Robert Allan Ackerman',
 'Curtis Hanson',
 'Jan de Bont',
 'Ron Underwood',
 'James Cameron',
 'Luis Mandoki',
 'Damian Harris',
 'Suri Krishnamma',
 'Jefery Levy',
 'Keenen Ivory Wayans',
 'Robert Lee King',
 'Yves Angelo',
 'Russ Meyer',
 'Doug McHenry',
 'Dave Borthwick',
 'Steven E. de Souza',
 'Wallace Wolodarsky',
 'Michael A. Nickles',
 'Paul Warner',
 'Vincent Robert',
 'Theodore Thomas',
 'Lucas Platt',
 'Ross Kagan Marks',
 'Paul Williams',
 'Robert Wuhl',
 'Roberto Sneider',
 'Jack Baxter',
 'Andrew Morahan',
 'Michael Corrente',
 'John G. Avildsen',
 'Jeff Pollack',
 'Thomas Schlamme',
 'Michael Lehmann',
 'Paul Michael Glaser',
 'Jonathan Kaplan',
 'Whit Stillman',
 'Bill Forsyth',
 'John Landis',
 'Caroline Thompson',
 'Stephen Hopkins',
 'Tony Richardson',
 'Jennifer Chambers Lynch',
 'Robert De Niro',
 'Adam Resnick',
 'John Whitesell',
 'Brian De Palma',
 'Paul Weiland',
 'Mick Jackson',
 'Steve Barron',
 'Richard Rush',
 'Michael Ritchie',
 'Gregg Champion',
 'Marco Brambilla',
 'Bruce Brown',
 'Carl Reiner',
 'Chen Kaige',
 'Peter Weir',
 'Alek Keshishian',
 'Steve Kloves',
 'John Irvin',
 'Simon Wincer',
 'Boaz Yakin',
 'Rose Troche',
 'Bruce Beresford',
 'Sidney Lumet',
 'Jim Abrahams',
 'Julianna Lavin',
 'Christopher Monger',
 'Bille August',
 'Eric Meza',
 'Joel Coen',
 'James L. Brooks',
 'Daniel Petrie, Jr.',
 'Jim Sheridan',
 'Matty Rich',
 'Steven Spielberg',
 'Dominic Sena',
 'Roger Avary',
 'Daniel Petrie',
 'James Lapine',
 'David Cronenberg',
 'Stuart Baird',
 'Nagisa Ōshima',
 'Tom Noonan',
 'Anthony Minghella',
 'Mike Leigh',
 'Michael Tolkin',
 'Sally Potter',
 'Jonathan Demme',
 'Jane Campion',
 'Stuart Orme',
 'Mel Smith',
 'Penny Marshall',
 'Philip Kaufman',
 'Alan Parker',
 'Fred Dekker',
 'Peter Medak',
 'Geoffrey Wright',
 'Victor Nunez',
 'Tim Hunter',
 'Cyril Collard',
 'Steven Zaillian',
 'Chris Menges',
 'John Waters',
 'Russell Mulcahy',
 'Richard Attenborough',
 'Gillies MacKinnon',
 'Steve Rash',
 'Rowdy Herrington',
 'Arthur Joffé',
 'Annabel Jankel',
 'Deran Sarafian',
 'François Girard',
 'Andrew Fleming',
 'Henry Selick',
 'George P. Cosmatos',
 'Heywood Gould',
 'D.A. Pennebaker',
 'Jerry Ciccoritti',
 'Jennifer Warren',
 'Mark Malone',
 'Todd Solondz',
 'Claude Berri',
 'Dennis Hopper',
 'Guillermo del Toro',
 'Daniel Algrant',
 'Pedro Almodóvar',
 'Gurinder Chadha',
 'Andrew Scheinman',
 'Åke Sandgren',
 'Eva Sereny',
 'Lina Wertmüller',
 'Rémy Duchemin',
 'George T. Miller',
 'Ricky Tognazzi',
 'Michael Austin',
 'Rob Epstein',
 'Nanni Moretti',
 'María Luisa Bemberg',
 'Betty Thomas',
 'Ron Clements',
 'Kevin Costner',
 'Steve Cohen',
 'David Hand',
 'Gary Trousdale',
 'Hamilton Luske',
 'Yuri Mamin',
 'Sam Peckinpah',
 'C.M. Talkington',
 'Huang Jianxin',
 'Jean Bach',
 'Sam Weisman',
 'Bill Condon',
 'Stephen Poliakoff',
 'David R. Ellis',
 'Gerald Potterton',
 'Kevin Yagher',
 'Matt Reeves',
 'Franco Zeffirelli',
 'Anna Campion',
 'Franco Brusati',
 'Wolfgang Reitherman',
 'Fernando Trueba',
 'Bill Couturié',
 'Werner Herzog',
 'André Téchiné',
 'Mika Kaurismäki',
 'Férid Boughedir',
 'Martin Lawrence',
 'Stacy Title',
 'Gregory Hoblit',
 'Clément Virgo',
 'Bruno Barreto',
 'Paul Sabella',
 'Hal Salwen',
 'Jonathan R. Betuel',
 'Richard Pearce',
 'Todd Verow',
 'Jonathan Lynn',
 'Tim Sullivan',
 'Jeremiah S. Chechik',
 'Hervé Palud',
 'Martin Enlen',
 'Carlo Rola',
 'Claude Sautet',
 'Friðrik Þór Friðriksson',
 'Pen Densham',
 'Sönke Wortmann',
 'Park Chul-soo',
 'Rob Cohen',
 'Joseph Vilsmaier',
 'Michael Verhoeven',
 'Gray Hofmeyr',
 'Richard Wherrett',
 'René Clément',
 'Anthony Hopkins',
 'Paul Mazursky',
 'Emir Kusturica',
 'Bo Widerberg',
 'Alan Mehrez',
 'Satyajit Ray',
 'Jim Mallon',
 'Joe Pytka',
 'Roger Vadim',
 'Catherine Cyran',
 'Brett Piper',
 'George Hickenlooper',
 'Jean-Luc Godard',
 'Bertrand Tavernier',
 'Gordon Willis',
 'Randal Kleiser',
 'Michael Blakemore',
 'Margarethe von Trotta',
 'Norberto Barba',
 'Eli Cohen',
 'Robert Mandel',
 'Pat Verducci',
 'Michael Winterbottom',
 'Steven Baigelman',
 'Zalman King',
 'Barry Caillier',
 'Patrick Read Johnson',
 'Stijn Coninx',
 'John Cassavetes',
 'Stacy Cochran',
 'Jean-Claude Van Damme',
 'Mark Joffe',
 'Steve Gomer',
 'George Scribner',
 'Tom DeCerchio',
 'Alan Shapiro',
 'Angela Pope',
 'Betty Kaplan',
 'Jim Jarmusch',
 'Jean-Paul Rappeneau',
 'Jack Hill ',
 'Manuel Gómez Pereira',
 'Jean-Marie Poiré',
 'Brett Thompson',
 'Francesco Sframeli',
 'Stephen Quay',
 'Phil Joanou',
 'Larry Cohen',
 'Harvey Miller',
 'Michele Soavi',
 'David Hogan',
 'Maurice Pialat',
 'Gabriel Barylli',
 'Mamoru Oshii',
 'Tom Holland',
 'Rick Friedberg',
 'Udayan Prasad',
 'Nick Park',
 'Abraham Polonsky',
 'David Twohy',
 'Robert Z. Leonard',
 'Stanley Kubrick',
 'Guy Maddin',
 "John O'Brien",
 'Kevin James Dobson',
 'Victor Saville',
 'Helena Solberg',
 'Ebrahim Forouzesh',
 'Freida Lee Mock',
 'David Keating',
 'James Mangold',
 'Francis Ford Coppola',
 'Mary Harron',
 'Charles Matthau',
 'Goran Paskaljević',
 'Mwezé Ngangura',
 'Jean-Pierre Bekolo',
 'Djibril Diop Mambéty',
 'Gaston Kaboré',
 'Federico Fellini',
 'Robby Henson',
 'Scott Winant',
 'Bobby Farrelly',
 'Carma Hinton',
 'Lucian Pintilie',
 'Gazdag Gyula',
 'Gérard Mordillat',
 'Mel Chionglo',
 'Alexandre Rockwell',
 'Christopher Larkin',
 'Laurent Heynemann  ',
 'Bronwen Hughes',
 'Nicole Holofcener',
 'Éric Rohmer',
 'Fraser Clarke Heston',
 'Kevin Hooks',
 'Ildikó Enyedi',
 'Howard Franklin',
 'Mitch Marcus',
 'Jaime Hellman',
 'Nicolas Roeg',
 'Arlene Sanford',
 'Maurizio Nichetti',
 'Paul Turner',
 'Peter Sehr',
 'Rolf Silber',
 'Peter Weck',
 'Manoel de Oliveira',
 'John Payson',
 'Hugh Wilson',
 'Nigel Finch',
 'Hart Bochner',
 'Doug Ellin',
 'Annette Haywood-Carter',
 'Danny DeVito',
 'Douglas McGrath',
 'Tim Pope',
 'Harry Winer',
 'Georges Franju',
 'Gilbert Adler',
 'John Rubino',
 'Yin Li',
 'Yim Ho',
 'Marcus DeLeon',
 'Lee David Zlotoff',
 'Tran Anh Hung',
 'Julian Schnabel',
 'Rolf de Heer',
 'Keisuke Kinoshita',
 'Nicole Garcia',
 'Leone Pompucci',
 'Zheng Jun-Li',
 'Lisa Krueger',
 'Mikio Naruse',
 'Lana Wachowski',
 'Arthur Hiller',
 'John Ruane',
 'Peter Shaner',
 'Tsai Ming-liang',
 'Daniel Schmid',
 'Tim Metcalfe',
 'Izidore K. Musallam',
 'Jim McKay',
 'Karim Dridi',
 'John Frankenheimer',
 'David M. Evans',
 'David Koepp',
 'Gary Winick',
 'Nick Hamm',
 'Roy Allen Smith',
 'Theo van Gogh',
 'Joe Chappelle',
 'Trevor Nunn',
 'Keith Gordon',
 'Max Ophüls',
 'Jan Jakub Kolski',
 'Sam Wood',
 'George Cukor',
 'Stanley Donen',
 'Vincente Minnelli',
 'Blake Edwards',
 'Alfred Hitchcock',
 'Frank Capra',
 'Mark Sandrich',
 'Billy Wilder',
 'Michael Curtiz',
 'John Huston',
 'William Wyler',
 'Walter Lang',
 'Victor Fleming',
 'Orson Welles',
 'Mitchell Leisen',
 'Joseph L. Mankiewicz',
 'Leo McCarey',
 'Ernst Lubitsch',
 'Rouben Mamoulian',
 'Otto Preminger',
 'Gregory La Cava',
 'George Stevens',
 'Elia Kazan',
 'W.S. Van Dyke',
 'Howard Hawks',
 'Michael Anderson',
 'Victor Sjöström',
 'William A. Wellman',
 'John Cromwell',
 'Archie Mayo',
 'Busby Berkeley',
 'Henry Koster',
 'James Edward Grant',
 'Lewis Milestone',
 'George A. Romero',
 'Richard Brooks',
 'Victor Schertzinger',
 'Frank Borzage',
 'Edwin L. Marin',
 "Thaddeus O'Sullivan",
 'Corey Yuen Kwai',
 'Joshua Logan',
 'Chris Newby',
 'Richard Schenkman',
 'Allan Miller',
 'Carroll Ballard',
 'Lance Young',
 'Ringo Lam',
 'Amy Holden Jones',
 'Matthew Broderick',
 'Stanley Tucci',
 'Robert M. Young',
 'John Herzfeld',
 'Reb Braddock',
 'René Gainville',
 'John Walsh',
 'John Gray',
 'Robert Lieberman',
 'Norman Tokar',
 'Norman Foster',
 'John Hough',
 'Robert Stevenson',
 'David Swift',
 'Duwayne Dunham',
 'Charles Barton',
 'Ken Annakin',
 'Richard Fleischer',
 'William Dear',
 'Clyde Geronimi',
 'William Roberts',
 'Harold D. Schuster',
 'Samuel Armstrong',
 'Don Chaffey',
 'Ted Berman',
 'Matthew Bright',
 'Robert Wise',
 'Nick Cassavetes',
 'Iara Lee',
 'Tom Hanks',
 'Michael Pressman',
 'Joseph Bologna',
 'Hettie MacDonald',
 'Al Pacino',
 'Steve Buscemi',
 'Ismail Merchant',
 'John McNaughton',
 'Leon Ichaso',
 'Baz Luhrmann',
 'Doug Liman',
 'Michael Cimino',
 'Scott Silver',
 'Tad Stones',
 'Anthony Asquith',
 'Edward Dmytryk',
 'Josef von Sternberg',
 'Aaron Kim Johnston',
 'Mel Stuart',
 'Jan Bucquoy',
 'Jack Clayton',
 'Charles Crichton',
 'Terry Jones',
 'Arthur Penn',
 'John Sturges',
 'Frédéric Mitterrand',
 'Emile Ardolino',
 'Ted Kotcheff',
 'Alan J. Pakula',
 'Sam Henry Kass',
 'Michael Covert',
 'Nicholas Ray',
 'Greg Spence',
 'Hugo Van Lawick',
 'Michael Kreihsl',
 'Temístocles López',
 'Claude Nuridsany',
 'Alan Taylor',
 'Chris Cullari',
 'Benoît Jacquot',
 'Jaco Van Dormael',
 'Nils Gaup',
 'Peter Cohn',
 'Miloš Forman',
 'Rich Wilkes',
 'R. J. Cutler',
 'Mark Rydell',
 'Ate de Jong',
 'Joe Dante',
 'Gustavo Graef-Marino',
 'Howard Zieff',
 'Bruce LaBruce',
 'Russ Hexter',
 'Sharon Pollack',
 'Michael Ray Rhodes',
 'Raúl Ruiz',
 'Susan W. Dryfoos',
 "John L'Ecuyer",
 'Leon Gast',
 'Daniel Vigne',
 'Jan Švankmajer',
 'Anthony Mann',
 'Vittorio De Sica',
 'Jean Delannoy',
 'Norman Z. McLeod',
 'Elliott Nugent',
 'Volker Schlöndorff',
 'Martine Dugowson',
 'Nina Menkes',
 'Eric Red',
 'Barbara Kopple',
 'Phillip Rhee',
 'Peter Greenaway',
 'Michel Blanc',
 'Peter Chelsom',
 'Fred Olen Ray',
 'Gabriele Salvatores',
 'Errol Morris',
 'Jennie Livingston',
 'Lou Adler',
 'Irvin Kershner',
 'Sergio Leone',
 'Bruce Robinson',
 'David Lean',
 'Robert Mulligan',
 'Richard Marquand',
 'Wim Wenders',
 'Carol Reed',
 'Akira Kurosawa',
 'John Ford',
 'Andrei Tarkovsky',
 'George Roy Hill',
 'Hal Ashby',
 'Ingmar Bergman',
 'Tom Stoppard',
 'Savage Steve Holland',
 'Fritz Lang',
 'Jean-Jacques Beineix',
 'Allan Moyle',
 'Franklin J. Schaffner',
 'Katsuhiro Ōtomo',
 'Stuart Rosenberg',
 'Charlie Chaplin',
 'Fred Zinnemann',
 'Jeannot Szwarc',
 'Godfrey Reggio',
 'Fred M. Wilcox',
 'Phil Alden Robinson',
 'Keoni Waxman',
 'John G. Young',
 'Doug Pray',
 'John Murlowski',
 'Susan Streitfeld',
 'Larry Bishop',
 'Jon Sherman',
 'Greta Schiller',
 'Herb Gardner',
 'Carl Prechezer',
 'Tony Randel',
 'Steve White',
 'Damiano Damiani',
 'Tom Bery',
 'Paul Morrissey',
 'Fred Walton',
 'Irvin S. Yeaworth Jr.',
 'Jeffrey Bloom',
 'James Whale',
 'Dan Curtis',
 'J. Lee Thompson',
 'Paul Schrader',
 'F.W. Murnau',
 'Augusto Caminito',
 'Bob Rafelson',
 'Kevin Spacey',
 'Barbra Streisand',
 'Lars von Trier',
 'Ole Bornedal',
 'Jonathan Frakes',
 'Scott Hicks',
 'Billy Bob Thornton',
 'Michelangelo Antonioni',
 'Joe Berlinger',
 'Hans Petter Moland',
 'Patrice Leconte',
 'Curzio Malaparte',
 'Claire Denis',
 'Nicholas Meyer',
 'William Shatner',
 'Leonard Nimoy',
 'Patricia Birch',
 'Daniel J. Sullivan',
 'Joseph H. Lewis',
 'Joe Alves',
 'Alexander Payne',
 'Cameron Crowe',
 'Anjelica Huston',
 'Jerry Zaks',
 'Martin Donovan',
 'Mike Judge',
 'Robert Harling',
 'Terry George',
 'Dan Ireland',
 'Albert Brooks',
 'Murray Lerner',
 'Ralph Ziman',
 'Robert Butler',
 'Michael Rymer',
 'Roger Christian',
 'Thomas Carter',
 'François Dupeyron',
 'Steven Paul',
 'Andrew Birkin',
 'Peter Baldwin',
 'E. Max Frye',
 'Stefan Schwietert',
 'Jan Svěrák',
 'Vondie Curtis-Hall',
 'Christopher Guest',
 'Sergei Bodrov Jr.',
 'Craig Rosenberg',
 'R. Paul Miller',
 'Bob Spiers',
 'Stephen Kessler',
 'David Lynch',
 'Merzak Allouache',
 'Peter Spirer',
 'Mark Christopher',
 'Theodore Witcher',
 'Greg Mottola',
 'Mark Dindal',
 'Robert Townsend',
 'Emma-Kate Croghan',
 'Shuki Levy',
 'Tsui Hark',
 'George Armitage',
 'Leslie Greif',
 'Lynne Stopkewich',
 'Tom Schulman',
 'Jack Green',
 'Alex Sichel',
 'Seth Zvi Rosenfeld',
 'Nana Dzhordzhadze',
 'David Mirkin',
 'Peter Duncan',
 'Jay Roach',
 'Jonathan Mostow',
 'Gregor Nicholas',
 'Daniel Taplitz',
 'Mo Ogrodnik',
 'Kiefer Sutherland',
 'L.A. Puopolo',
 'Ronny Yu',
 'Kevin Bacon',
 'Agnès Varda',
 'Joe Mantello',
 'Masayuki Suo',
 'Dee McLachlan',
 'Kevin Allen',
 'Griffin Dunne',
 'Mark Herman',
 'David Hare',
 'Jacques Doillon',
 'Dale Rosenbloom',
 'Emilio Estevez',
 'Clare Peploe',
 'Simon West',
 'Julia Dyer',
 'Laetitia Masson',
 'Robert Patton-Spruill',
 'Adrienne Shelly',
 'Dana Lustig',
 'Jim Wilson',
 'Stephen T. Kay',
 'Yvonne Rainer',
 ...]

In [ ]:
{
    'director': 'Jean-Jacques Annaud',
    'return': 4.02,
    'movies':[
        {
        'title': 'Dead Man Walking',
        'release_date': '1995-12-29',
        'return': 3.578512,
        'budget': 11000000.0,
        'revenue': 39363635.0    
        },
        {
        'title': 'Dead Man Walking',
        'release_date': '1992-09-04',
        'return': 0.00,
        'budget': 0.00,
        'revenue': 0.00    
        },
        {
        'title': 'Dead Man Walking',
        'release_date': '1999-12-10',
        'return': 0.00,
        'budget': 0.00,
        'revenue': 0.00    
        }
    ]

}