In [1]:
import pickle
import pandas as pd

from funtions.funtions import Movies

# Cargar el archivo movie_list.pkl
with open('datasets/movie_list_15.pkl', 'rb') as f:
    movie_list = pickle.load(f)

# Cargar el archivo similarity.pkl
with open('datasets/similarity_15.pkl', 'rb') as f:
    similarity = pickle.load(f)

# Cargar el archivo indices.pkl
with open('datasets/indices_15.pkl', 'rb') as f:
    indices = pickle.load(f)

In [2]:
movies = movie_list['title'].tolist()
recommendation = []
movie = Movies('datasets/movies_cleaned.csv')

In [3]:
for movie_ in movies:
    resul = movie.recomendacion(movie_, similarity, movie_list, indices)
    recommendation.append({
                            'movie': movie_,
                            'recommendation': resul
                            })

In [4]:
df_rec = pd.DataFrame(recommendation)
df_rec.sample(8)

                     movie                                     recommendation
9890           King's Game  [The China Syndrome, Street Smart, Arabesque, ...
9081               Bleeder  [Circus, Flesh and the Devil, Bedrooms and Hal...
597                  Fargo  [Panic, The Man Who Wasn't There, Lovers and O...
9120  Guest House Paradiso  [Come September, The Happiness of the Katakuri...
3376          East Is East  [My Father the Hero, Sunflower, Touch of Pink,...
6985             Mon oncle  [JLG/JLG: Self-Portrait in December, A Woman I...
1187             Chinatown  [The Two Jakes, Frantic, Knife in the Water, S...
1965            L.A. Story  [French Cancan, Twelfth Night, A Home of Our O...

In [5]:
# se crea archivo csv para su uso en producción.
df_rec.to_csv('datasets/ml_recomend.csv', index=False, encoding='utf-8')

In [11]:
# Prueba de resultados tomando el archivo recien creado

from ast import literal_eval
new = pd.read_csv('datasets/ml_recomend.csv')
new.recommendation = new.recommendation.apply(literal_eval)

In [14]:
new

,movie,recommendation
0,Toy Story,"[Toy Story 2, The Champ, The 40 Year Old Virgi..."
1,Jumanji,"[Word Wars, Brainscan, Nirvana, Dungeons & Dra..."
2,Grumpier Old Men,"[Grumpy Old Men, An Extremely Goofy Movie, A G..."
3,Waiting to Exhale,"[Worth Winning, Next Stop Wonderland, The Fant..."
4,Father of the Bride Part II,"[Father of the Bride, Wendigo, Kuffs, North to..."
...,...,...
14995,Johnny Angel,"[Underworld, Radio Inside, The Man from Snowy ..."
14996,The Dark Tower,"[The Frightened City, Buried Alive, Red Road, ..."
14997,Reindeerspotting - Escape From Santaland,"[A Brief History of Time, The Living Room of t..."
14998,Marmaduke,"[Marley & Me, Pinocchio, Cockles and Muscles, ..."
14999,MacGruber,"[Wake of Death, Direct Contact, Dead Fury, 300..."

In [30]:
# Test de prueba
for m in ['Solomon Kane', 'Stray Cat Rock: Sex Hunter', 'American Drug War: The Last White Hope,', 'Camille',
          'Peter Pan', 'One Way Passage', 'Arsenal', 'Carlos mi Amigo']:
    resul = new[new['movie'] == m]
    if len(resul) > 0:
       print(resul['recommendation'].values[0])
    else:
       print('Pelicula no encontrada')

['Hercules in New York', 'The League of Extraordinary Gentlemen', 'Puppet Master: The Legacy', 'The Wind and the Lion', 'Hellboy II: The Golden Army']
['Dabbe', 'The Big Brawl', 'Our Song', 'Stray Cat Rock: Delinquent Girl Boss', 'The Crow IV: Wicked Prayer']
Pelicula no encontrada
False
False
['Griffin & Phoenix', 'Under the Bridges', 'Angel', 'Radio Inside', 'Swept Away']
['The Life and Death of Colonel Blimp', 'How I Unleashed World War II Part III: Among Friends', 'Midway', 'The Beguiled', 'House of Fools']
Pelicula no encontrada

In [26]:
resul = new[new['movie'] == 'Solomon Kane']
resul

              movie                                     recommendation
14991  Solomon Kane  [Hercules in New York, The League of Extraordi...

In [27]:
resul['recommendation'].values[0]

['Hercules in New York',
 'The League of Extraordinary Gentlemen',
 'Puppet Master: The Legacy',
 'The Wind and the Lion',
 'Hellboy II: The Golden Army']